<div id="{{ job.web_id }}" class="col-12 p-2 leader-line-object"
    data-link-to="{{ job.links_to }}" data-line-opt="{{ job.data_line_opt }}">
    <button
            id="button-{{ job.web_id }}"
            class="btn btn-white text-start fz-0-8"
            hx-get="/model_builder/open-edit-object-panel/{{ job.efootprint_id }}/"
            hx-target="#formPanel"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-disabled-elt="button"
    >
        {{ job.name }}
    </button>
</div>
