{% load static %}
<div id="{{ server.web_id }}" class="list-group-item my-3 mb-1 rounded-4 up-list-item card-hover"
     style="cursor: move;">
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h6 class="accordion-header d-flex align-items-center">
                <button type="button" class="chevron-btn btn btn-link p-0 me-2 text-black"
                        data-bs-toggle="collapse" data-bs-target="#flush-{{ server.web_id }}" onclick="reverseIconAccordion('{{ server.web_id }}')" aria-expanded="true" aria-controls="collapseOne">
                        <svg id="icon_accordion_{{ server.web_id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ server.web_id }}"
                        class="btn btn-white ms-1 text-start fz-0-8"
                        type="button"
                        hx-get="/model_builder/open-edit-object-panel/{{ server.efootprint_id }}/"
                        hx-target="#formPanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-on::after-request="closeLoader()"
                        onclick="openLoader()"
                        hx-disabled-elt="this"
                >
                    {{ server.name}}
                </button>
            </h6>
            <div id="flush-{{ server.web_id }}" class="accordion-collapse collapse accordion-all" data-bs-parent="#{{ server.web_id }}">
                <div class="accordion-body text-start">
                    <p>Services</p>
                    <div class="row mx-0 my-0 align-items-center rounded-2" id="{{ server.web_id }}-services" style="z-index: 1000 !important; background-color: #ffffff !important;">
                        {% for service in server.installed_services %}
                            {%  include 'model_builder/object_cards/service_card.html' with service=service %}
                        {% endfor %}
                    </div>
                    <button class="btn btn-white text-start p-0 fz-0-8 dotted-border h-100 w-100 rounded-2 p-2"
                            hx-get="/model_builder/open-create-service-panel/{{ server.efootprint_id }}/"
                            hx-target="#formPanel"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                            hx-on::after-request="closeLoader()"
                            onclick="openLoader()"
                            hx-disabled-elt="this"
                    >
                        <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-2"  width="16px" height="16px" alt="add icon" />
                        Install service
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
