{% load static %}
<div id="{{ usage_journey_step.web_id }}" class="leader-line-object row mx-0 my-3 border border-2 border-white"
     data-link-to="{{ usage_journey_step.links_to }}"
     data-line-opt="{{ usage_journey_step.data_line_opt }}">
    <div class="col-2 p-0 justify-content-center">
        <img src="{% static 'icons/circle_uj_step.svg' %}" id="icon-{{usage_journey_step.web_id }}"
                         class="leader-line-object border border-2 border-white bg-white rounded-circle"
                         data-link-to="{{ usage_journey_step.icon_links_to }}"
                         data-line-opt="{{ usage_journey_step.icon_leaderline_style }}"
                         width="18px" height="18px;" alt="circle_step">
    </div>
    <div class="col-10 p-0">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <h6 class="accordion-header p-0 d-flex align-items-center text-start">
                <button type="button" class="chevron-btn btn btn-link p-0 me-1 text-black"
                        data-bs-toggle="collapse" data-bs-target="#flush-{{ usage_journey_step.web_id }}" onclick="reverseIconAccordion('{{ usage_journey_step.web_id }}')" aria-expanded="true" aria-controls="collapseOne">
                        <svg id="icon_accordion_{{ usage_journey_step.web_id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ usage_journey_step.web_id }}"
                        class="btn btn-white p-0 text-start fz-0-8"
                        type="button"
                        hx-get="/model_builder/open-edit-object-panel/{{ usage_journey_step.efootprint_id }}"
                        hx-target="#formPanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-on::after-request="closeLoader()"
                        onclick="openLoader()"
                        hx-disabled-elt="this"
                >
                    {{ usage_journey_step.name}}
                </button>
            </h6>
                <div id="flush-{{ usage_journey_step.web_id }}" class="accordion-collapse collapse" data-bs-parent="#{{ usage_journey_step.web_id }}">
                    <div class="accordion-body p-0 row m-0 text-start">
                        {% for job in usage_journey_step.jobs %}
                            {% include 'model_builder/object_cards/job_card.html' with job=job %}
                        {% endfor %}
                        <div class="col-12 p-2">
                            <button class="btn btn-white dotted-border text-start p-2 fz-0-8"
                                    hx-get="/model_builder/open_create_job_panel/"
                                    hx-target="#formPanel"
                                    hx-trigger="click"
                                    hx-swap="innerHTML"
                                    hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ usage_journey_step.efootprint_id }}"}'
                                    hx-on::after-request="closeLoader()"
                                    onclick="openLoader()"
                                    hx-disabled-elt="this"
                            >
                                <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-3"  width="14px" height="14px" alt="add icon" />
                                Add new job
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
