{% extends "model_builder/side_panels/edit/edit_form_container.html" %}

{% block edit_form %}
    <form class="my-3"
          autocomplete="off"
          id="formStorage"
    >
        <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text"
                       class="form-control p-2"
                       id="name" name="name"
                       value="{{ object_to_edit.name }}">
        </div>
        {% block edit_form_content %}
            <input type="hidden" value="{{ object_to_edit.efootprint_id }}" name="storage_id" id="storage_id">
            {% include "model_builder/side_panels/edit/edit_form_content.html" %}
        {% endblock %}
    </form>
{% endblock %}
