<div class="w-full flex flex-col items-center p-16 gap-12">
    <div class="flex flex-col items-center gap-2">
        <img src="/static/images/e-footprint-logo-w-text.svg" alt="e-footprint-logo" />
        <h1 class="font-bold text-2xl">Do you know the carbon footprint of your digital service ?</h1>
    </div>
    <div class="flex gap-8">
      <img class="w-60 h-60" src="/static/images/understand.svg" alt="understand" />
      <img class="w-60 h-60" src="/static/images/analyze.svg" alt="analyze" />
      <img class="w-60 h-60" src="/static/images/identify.svg" alt="identify" />
    </div>
    <div class="flex gap-8 text-center">
        <div class="flex flex-col items-center justify-center">
            <div class="absolute">
                <h2 class="font-bold text-xl">Understand</h2>
                <p>Our approach</p>
            </div>
            <img class="w-60 h-60" src="/static/images/understand-bg.svg" alt="" />
        </div>
        <div class="flex flex-col items-center justify-center">
            <div class="flex flex-col gap-2 absolute">
                <h2 class="font-bold text-xl">Analyze</h2>
                <p>Model your service to calculate its impact</p>
                <button id="quiz-link" class="w-fit px-4 self-center py-2 rounded-3xl bg-primary text-white hover:bg-primary-dark active:bg-primary-darker"
                        hx-get="/quiz/onboarding"
                        hx-target="#main-content-block" hx-swap="beforeend"
                        hx-push-url="/quiz/onboarding"
                        hx-indicator="#global_loader" hx-disabled-elt="button"
                        script="on click remove the first <div/> in #main-content-block">Start modeling my service</button>
            </div>
            <img src="/static/images/analyze-bg.svg" alt="" />
        </div>
        <div class="flex flex-col items-center justify-center">
            <div class="absolute">
                <h2 class="font-bold text-xl">Identify</h2>
                <p>Actions to implement</p>
                <p>(coming soon)</p>
            </div>
            <img class="w-60 h-60" src="/static/images/identify-bg.svg" alt="" />
        </div>
    </div>
</div>
