{% load static %}

<div class="container-fluid p-0 m-0 justify-content-center border-top border-2 border-body-secondary" style="height: 100vh!important;">
    <div class="row align-items-center">
        <div class="col-8 p-5" style="height: 100vh!important;">
            <div class="row" style="height: 100vh!important;">
                <div class="col-10 offset-1 text-start rounded-2 p-4">
                    <div class="d-flex px-4 py-5">
                        <img src="{% static 'images/e-footprint-logo-Hori-full.svg' %}" alt="e-footprint-logo" />
                    </div>
                    <p class="h1 mt-5 mb-4"><b>Do you know the carbon footprint<br>of your digital service ?</b></p>
                    <button id="btn-start-modeling-my-service" class="btn bg-radiant rounded-pill mt-3 h3 py-3 px-4 text-white no-loader"
                            hx-get="{% url 'model-builder' %}"
                            hx-target="#main-content-block" hx-swap="innerHTML"
                            hx-push-url="{% url 'model-builder' %}"
                            hx-disabled-elt="button"
                    >Start modeling my service
                    </button>
                </div>
            </div>
        </div>
         <div class="col-4 bg-body-tertiary p-5 d-flex flex-column justify-content-between align-items-center" style="height: 100vh!important;">
            <div>
                <img src="{% static 'images/understand.svg' %}" class="img-fluid home-img mt-5" alt="understand" />
                <p><b>Understand</b><br>our approach</p>
            </div>
            <div>
                <img src="{% static 'images/analyze.svg' %}" class="img-fluid home-img" alt="analyze" />
                <p><b>Analyze</b><br>model your service to calculate its impact</p>
            </div>
            <div>
                <img src="{% static 'images/identify.svg' %}" class="img-fluid home-img mb-5" alt="identify" />
                <p><b>Identify</b><br>the most impactful parts of your service</p>
            </div>
        </div>
    </div>
</div>
