{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary px-4 py-0" style="height: 7vh;">
        <div class="container-fluid py-0">
            <a class="navbar-brand fz-0-9" href="/" id="link-to-home">
                <div class="row">
                    <div class="col-auto px-0">
                        <img src="{% static 'images/logo_without_label.svg' %}" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
                    </div>
                    <div class="col-auto px-0">
                        <div><b>e</b>-footprint<br></div>
                        <div class="fz-0-7">powered by <b>Publicis Sapient</b></div>
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button hx-get="{% url 'understand' %}"
                                hx-push-url="{% url 'understand' %}"
                                hx-target="#main-content-block"
                                hx-swap="innerHTML"
                                hx-disabled-elt="button"
                                class="nav-link d-flex flex-row gap-2 mx-2"
                                hx-on:htmx:before-request="removeAllLines()">
                            <span>Understand</span>
                        </button>
                    </li>
                    <li class="nav-item navbar-item-active">
                        <button hx-get="{% url 'model-builder' %}"
                                hx-push-url="{% url 'model-builder' %}"
                                hx-target="#main-content-block"
                                hx-swap="innerHTML"
                                hx-disabled-elt="button"
                                class="nav-link d-flex flex-row gap-2 mx-2"
                                hx-on:htmx:before-request="removeAllLines()"
                        >
                            <span class="text-nowrap">Model</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
