{% load static %}
<div class="container py-5">
    <h1 class="fw-bold text-center display-5 mb-5">How do we model the CO2 footprint of a digital service?</h1>
    <h2 class="fs-3 mb-4">What are the different components of a digital service that come into e-footprint’s calculation of its carbon footprint?</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- Colonne 1 : Hardware -->
        <div class="col">
            <div class="bg-light p-4 rounded d-flex flex-column gap-4 h-100">
                <h3 class="fs-3">Hardware</h3>
                <p>A digital service’s carbon footprint comes from the fabrication of the hardware required to run and use the service, and from the electricity required to power that hardware.</p>
                <div class="d-flex flex-column gap-3">
                    {% include "e-footprint-object-block.html" with title="Server" content="A server is a powerful computer designed to provide resources, data, or services to other computers, over a network. It can have different configurations such as autoscaling or serverless." logo="/static/icons/object-icons/server.svg" %}
                    {% include "e-footprint-object-block.html" with title="Storage" content="Storage refers to the hardware components that save and manage data." logo="/static/icons/object-icons/storage.svg" %}
                    {% include "e-footprint-object-block.html" with title="Hardware" content="Hardware refers to the devices used to access the service. This could be mobile phones, desktop computers, tablets ..." logo="/static/icons/object-icons/hardware.svg" %}
                    {% include "e-footprint-object-block.html" with title="Device population" content="A device population is defined by one or more hardware types, the total number of devices, and the country where these devices are being used." logo="/static/icons/object-icons/devicepopulation.svg" %}
                    {% include "e-footprint-object-block.html" with title="Network" content="A network refers to the infrastructure involved in communication and data transmission between devices and servers. It could be Wi-Fi, 5G ..." logo="/static/icons/object-icons/network.svg" %}
                </div>
            </div>
        </div>

        <!-- Colonne 2 : Usage -->
        <div class="col">
            <div class="bg-light p-4 rounded d-flex flex-column gap-4 h-100">
                <h3 class="fs-3">Usage</h3>
                <p>The usage of a service determines which hardware is being used for the service, and to what extent. </p>
                <div class="d-flex flex-column gap-3">
                    {% include "e-footprint-object-block.html" with title="User Journey" content="A user journey is a series of actions, or steps, a user takes to accomplish a goal within the service being modelled. This could be “making an E-commerce purchase”, or “watching and sharing content on social media”." logo="/static/icons/object-icons/userjourney.svg" %}
                    {% include "e-footprint-object-block.html" with title="User Journey Step" content="A user journey step is an action a user takes within a service, for a certain duration. This could be “Reading an article”, “Chatting with an AI assistant” ..." logo="/static/icons/object-icons/userjourneystep.svg" %}
                    {% include "e-footprint-object-block.html" with title="Job" content="A job is a request made to a service, during the user journey step. It has a duration, a quantity of data exchanged, and requires RAM and CPU from the service. Several jobs can be executed for a given user journey step. For example a checkout ecommerce can trigger a call to a payment provider, and a call to the webserver to load the next page ..." logo="/static/icons/object-icons/job.svg" %}
                </div>
            </div>
        </div>

        <!-- Colonne 3 : Other e-footprint objects -->
        <div class="col">
            <div class="bg-light p-4 rounded d-flex flex-column h-100">
                <h3 class="fs-3 mb-3">Other e-footprint objects</h3>
                <div class="d-flex flex-column gap-3">
                    {% include "e-footprint-object-block.html" with title="Service (Program?)" content="A service is a set of instructions that a computer can execute to perform specific tasks. It is hosted on a <b>server</b>, and saves data to <b>storage</b>. It can be a third-party service such as Google maps, or a micro-service such as payment processing." logo="/static/icons/object-icons/service.svg" %}
                    {% include "e-footprint-object-block.html" with title="Country" content="Each country is associated with a carbon intensity and a time zone." logo="/static/icons/object-icons/country.svg" %}
                </div>
            </div>
        </div>
    </div>
</div>
