{% load static %}
<div id="{{ user_journey.web_id }}" class="leader-line-object card list-group-item my-3 mb-1 rounded-4 py-2 px-0 up-list-item card-hover" style="cursor: move;"
     data-link-to="{{ user_journey.links_to }}" data-line-opt="{{ user_journey.data_line_opt }}">
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h6 class="accordion-header px-3 d-flex align-items-center">
                <button type="button" class="chevron-btn btn btn-link p-0 me-2 text-black"
                        data-bs-toggle="collapse" data-bs-target="#flush-{{ user_journey.web_id }}" onclick="reverseIconAccordion('{{ user_journey.web_id }}')" aria-expanded="true" aria-controls="collapseOne">
                        <svg id="icon_accordion_{{ user_journey.web_id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-chevron-right chevron-rotate" viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ user_journey.web_id }}"
                        class="btn btn-white ms-1"
                        type="button"
                        hx-get="/model_builder/open-create-object-panel/UserJourney/"
                        hx-target="#formPanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                        hx-vals='{"name": "{{ user_journey.name }}", "efootprint_id_of_empty_object_origin": "{{ user_journey.efootprint_id }}"}'
                >
                    {{ user_journey.name }} ⚠️
                </button>
            </h6>
            <div id="flush-{{ user_journey.web_id }}" class="accordion-collapse show accordion-all" data-bs-parent="#{{ user_journey.web_id }}">
                <div class="accordion-body py-0 px-3">
                    {% for user_journey_step in user_journey.uj_steps %}
                        {% include 'model_builder/model_part/card/user_journey_step_card.html' %}
                    {% endfor %}
                    <div class="row mx-0 my-0 dotted-border align-items-center rounded-2" style="z-index: 1000 !important; background-color: #ffffff !important;">
                        <div class="col-2 p-0 justify-content-center bg-white my-2" id="add-usage-pattern-{{ user_journey.web_id }}">
                            <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white"  width="16px" height="16px" alt="add icon" />
                        </div>
                        <div class="col-10 p-0 text-start">
                            <button class="btn btn-white text-start p-0"
                                    hx-get="/model_builder/open-create-object-panel/UserJourney/"
                                    hx-target="#formPanel"
                                    hx-trigger="click"
                                    hx-swap="innerHTML"
                                    hx-vals='{"name": "{{ user_journey.name }}", "efootprint_id_of_empty_object_origin": "{{ user_journey.efootprint_id }}"}'>
                                Add usage journey step
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
