{% load static %}
<div class="row mx-0 my-3">
    <div class="col-2 p-0 justify-content-center">
        <img src="{% static 'icons/circle_uj_step.svg' %}" id="icon-{{ forloop.counter }}-step"
                         class="leader-line-object border border-2 border-white bg-white rounded-circle"
                         data-link-to="{% if not forloop.last %}icon-{{ forloop.counter|add:1 }}-step{% else %}add_step_{{ user_journey_step.user_journey.web_id }}{% endif %}"
                         data-line-opt="{% if not forloop.last %}vertical-step-swimlane{% else %}step-dot-line{% endif %}"
                         width="20px" height="20px;" alt="circle_step">
    </div>
    <div id="{{ user_journey_step.web_id }}" class="leader-line-object col-10 p-0"
        data-link-to="{{ user_journey_step.links_to }}"
        data-line-opt="object-to-object">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <h6 class="accordion-header p-0 d-flex align-items-center text-start">
                <button type="button" class="chevron-btn btn btn-link p-0 me-1 text-black"
                        data-bs-toggle="collapse" data-bs-target="#flush-{{ user_journey_step.web_id }}" onclick="reverse_icon_accordion('{{ user_journey_step.web_id }}')" aria-expanded="true" aria-controls="collapseOne">
                        <svg id="icon_accordion_{{ user_journey_step.web_id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                        </svg>
                </button>
                <button id="button-{{ user_journey_step.web_id }}"
                        class="btn btn-white p-0 text-start"
                        type="button"
                        hx-get="/model_builder/open-edit-object-panel/{{ user_journey_step.efootprint_id }}"
                        hx-target="#formPanel"
                        hx-trigger="click"
                        hx-swap="innerHTML"
                >
                    {{ user_journey_step.name}}
                </button>
            </h6>
                <div id="flush-{{ user_journey_step.web_id }}" class="accordion-collapse collapse" data-bs-parent="#{{ user_journey_step.web_id }}">
                <div class="accordion-body p-0 row m-0 text-start">
                    {% for job in user_journey_step.jobs %}
                        {% include 'model_builder/model_part/card/job_card.html' with job=job hx_swap_oob=false %}
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
