{% for up in model_web.usage_patterns %}
    <div class="list-group-item my-3 mb-1 rounded-4 p-2 up-list-item card-hover leader-line-object"
         id="{{ up.id }}"  style="cursor: move;"
         data-link-to="{{ up.links_to }}" data-line-opt="object-to-object" data-object-type="up">
        <div class="accordion accordion-flush" id="{{ up.id }}">
            <div class="accordion-item">
                <h6 class="accordion-header d-flex align-items-center">
                    <button type="button" class="chevron-btn btn btn-link p-0 me-2 text-black"
                            data-bs-toggle="collapse" data-bs-target="#flush-{{ up.id }}" aria-expanded="true" aria-controls="collapseOne">
                            <svg id="icon_accordion_{{ up.id }}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-width="2" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" d="M4.646 1.646l6 6-6 6" />
                            </svg>
                    </button>
                    <button class="btn btn-white ms-1"
                            type="button"
{#                            data-bs-toggle="collapse" data-bs-target="#flush-{{ up.id }}"#}
{#                            aria-expanded="false" aria-controls="flush-{{ up.id }}"#}
                            data-object-id="{{ up.id }}" data-object-type="UsagePattern"
                            hx-get="/model_builder/get-object-data/{{ up.id }}/UsagePattern/"
                            hx-target="#formPanel"
                            hx-trigger="click"
                            hx-swap="innerHTML"
                    >
                        <b>{{ up.name}}</b>
                </button>
                </h6>
                <div id="flush-{{ up.id }}" class="accordion-collapse collapse accordion-all" data-bs-parent="#{{ up.id }}">
                    <div class="accordion-body">
                        <p>{{ up.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
