{% load static %}

<div class="container-fluid px-0 py-5 justify-content-center">
    <div class="row py-5">
        <div class="col-12 mb-5">
            <p class="h3"><b>Start mapping your service</b></p>
        </div>
        <div class="col-12">
            <p class="h4 mb-3"><b>From scratch</b></p>
        </div>
        <div class="col-10 offset-1 bg-primary rounded-3 p-4 mb-5" style="--bs-bg-opacity: .2;">
            <div class="row align-items-center">
                <div class="col">
                    <div class="bg-primary p-2 rounded-circle align-content-center" style="width: 125px; height: 125px;">
                        <img src="/static/icons/user-journey-icon.svg" class="mx-auto" alt="User journey"/>
                    </div>
                </div>
                <div class="col-8">
                    <p class="h5">
                        <b>Set user journeys</b>
                    </p>
                    <p>
                        Define the characteristics of your service and estimate the characteristics of services called along your customers' journey...<br>
                        Read more ...
                    </p>
                </div>      
                <div class="col">
                    <button id="go-to-user-journeys-button"
                            class="btn btn-primary rounded-pill p-4 w-75"
                            hx-post="user-journeys" hx-target="#main-content-block" hx-swap="innerHTML" hx-push-url="user-journeys"
                            hx-indicator="#global_loader" hx-disabled-elt="button"
                            script="on click get #main-content-block then set its innerHTML to ''">Start
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="h4"><b>Or from an imported model</b></p>
        </div>
        <div class="col-10 offset-1 bg-primary rounded-3 p-4 mb-5" style="--bs-bg-opacity: .2;">
            <form class="row align-items-center justify-content-center" hx-post="import-json" hx-target="#main-content-block" hx-swap="innerHTML" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-3">
                    <label for="import-json-input" class="hidden">import json file</label>
                    <input id="import-json-input" name="import-json-input" type="file">
                </div>
                <div class="col-3">
                    <button class="btn btn-primary rounded-pill p-4" type="submit">Use your model
                    </button>
                </div>
            </form>
            {% if uploadError %}
                <p class="text-center font-bold text-red-1">{{uploadError}}</p>
            {% endif %}
        </div>
    </div>
</div>