<div class="min-h-screen bg-background-4 flex flex-col py-6" id="quiz-container">
  <h1 class="text-2xl font-bold text-center">Start mapping your service</h1>

  <div class="flex flex-col justify-center gap-4 mt-8">
    <h2 class="text-xl font-bold text-center">From scratch</h2>

    <div class="flex bg-primary-lighter mx-32 p-4 space-x-4 rounded-xl">
      <div class="relative w-32 h-32 bg-primary rounded-full flex justify-center items-center text-center shadow-xl">
        <img class="w-24 h-24" src="/static/icons/user-journey-icon.svg" alt="User journey" />
      </div>
      <div class="flex flex-1 gap-4 justify-between items-center">
        <div class="flex flex-col gap-2">
          <p class="font-bold">Set User Journeys</p>
          <p>Define the characteristics of your service and estimate the characteristics of services called along your customers' journey...</p>
          <p class="text-black">Read more...</p>
        </div>
            <button id="go-to-user-journeys-button" class="h-min bg-primary text-white mr-2 px-8 py-4 rounded-full"
                hx-post="user-journeys" hx-target="#quiz-container" hx-swap="innerHTML" hx-push-url="user-journeys">Start
            </button>
        </div>
    </div>

    <div class="flex bg-primary-lighter mx-32 p-4 space-x-4 rounded-xl">
      <div class="relative w-32 h-32 bg-primary rounded-full flex justify-center items-center text-center shadow-xl">
        <img class="w-12 h-12" src="/static/icons/api-icon.svg" alt="API" />
      </div>

      <div class="flex flex-1 gap-4 justify-between items-center">
        <div class="flex flex-col gap-2">
          <p class="font-bold">Add Services</p>
          <p class="text-black">Read more...</p>
        </div>
          <button class="h-min bg-grey-2 mr-2 px-8 py-4 rounded-full"
                hx-post="services" hx-target="#quiz-container" hx-swap="innerHTML" hx-push-url="services" disabled>Start
          </button>
      </div>
    </div>

    <div class="flex bg-primary-lighter mx-32 p-4 space-x-4 rounded-xl">
      <div class="relative w-32 h-32 bg-primary rounded-full flex justify-center items-center text-center shadow-xl">
        <img class="w-24 h-24" src="/static/icons/usage-icon.svg" alt="Describe usage" />
      </div>

      <div class="flex flex-1 gap-4 justify-between items-center">
        <div class="flex flex-col gap-2">
          <p class="font-bold">Describe usage</p>
          <p>Enter characteristics of your customers' usage of your service...</p>
          <p class="text-black">Read more...</p>
        </div>
          <button class="h-min mr-2 px-8 py-4 rounded-full bg-grey-2 cursor-not-allowed"
                hx-post="usage-patterns" hx-target="#quiz-container" hx-swap="innerHTML" hx-push-url="usage-patterns" disabled>Start
          </button>
      </div>
    </div>
  </div>

    <div class="flex flex-col gap-3 mt-6">
        <h2 class="text-xl font-bold text-center">Or from an imported model</h2>
        <div class="flex bg-primary-lighter mx-32 p-4 space-x-4 rounded-xl justify-center">
         <form hx-post="import-json" hx-target="#main-content-block" hx-swap="innerHTML" enctype="multipart/form-data" class="flex gap-2 items-center">
            {% csrf_token %}
            <label for="import-json-input" class="hidden">import json file</label>
            <input id="import-json-input" name="import-json-input" type="file">
            <button class="h-min bg-primary text-white mr-2 px-8 py-4 rounded-full" type="submit">Use your model</button>
         </form>
        </div>
        {% if uploadError %}
                <p class="text-center font-bold text-red-1">{{uploadError}}</p>
            {% endif %}
    </div>

</div>
