{% extends "base.html" %} {% block content %} {% include "./graph-container.html" with systemFootprint=systemFootprint %}
<div class="flex flex-col flex-1">
  <div class="flex flex-row flex-1">
    <div class="flex flex-col basis-1/6 p-1 bg-grey-5 gap-y-2">
      <div class="flex flex-col p-2 bg-grey-6">
        <div class="flex flex-row">
          <div>Icon</div>
          <div>Usage Pattern</div>
          <div>Tooltip</div>
        </div>
        <div>
          <button>+ Add Usage Pattern</button>
        </div>
      </div>

      <div class="rounded p-2 bg-grey-6">
        <div>
          <div>Icon</div>
          <div>Customer Journeys</div>
          <div>Tooltip</div>
        </div>
        <div>
          <button>+ Add Step</button>
          <button>+ Add Customer Journey</button>
        </div>
      </div>

      <div class="rounded p-2 bg-grey-6">
        <div>
          <div>Icon</div>
          <div>Services</div>
          <div>Tooltip</div>
        </div>
        <div class="block-form"><button>+ Add Service</button></div>
      </div>
    </div>
    <div class="flex flex-col basis-5/6 p-1 rounded text-black-1 bg-grey-7 gap-y-1">
      {% for object_type, object_list in context.items%}{{object_type}}
      <section class="flex flex-row rounded bg-grey-8 p-4 gap-x-4">{% for object in object_list %} {% include "./e-footprint-object.html" with object=object %} {% endfor %}</section>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
