{% load static %}
<div class="container-fluid px-5 py-5">
    <div class="row py-5">
         <div class="col-12 mb-5">
            <p class="h3"><b>Start mapping your service</b></p>
        </div>
        <div class="col-12 px-6 py-4 mb-5" style="--bs-bg-opacity: .2;">
            <div class="row align-items-center">
                <div class="col">
                    <div class="col">
                        <div class="bg-primary p-2 rounded-circle align-content-center" style="width: 125px; height: 125px;">
                            <img src="/static/icons/api-icon.svg" class="mx-auto" alt="User journey"/>
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <p class="h3">
                        <b>Set usage journey(s)</b>
                    </p>
                    <p>List the actions your users will take when interacting with your product, so we can make your estimation as complete as possible.</p>
                    <p><b>Tell me more about this</b></p>
                </div>
                <form class="col-10 px-6 py-4 mb-5" id="service-container">
                    {% include "./components/service-block.html" %}
                    <div class="row align-items-center justify-content-center mb-3">
                        <div class="col-auto">
                            <button id="validate-services-form-button" type="submit" class="btn btn-primary py-3 px-8 rounded-5 bg-primary"
                                hx-post="/quiz/usage-patterns" hx-target="#main-content-block" hx-swap="innerHTML" hx-push-url="usage-patterns"
                                hx-indicator="#global_loader" hx-disabled-elt="button"
                                script="on click remove the first <div/> in #main-content-block">
                                Continue
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
