{% extends "quiz/quiz-template.html" %}

{% block trail %}
{% include "./components/trail.html" with back='/quiz/onboarding' index=2 %}
{% endblock %}

{% block analyze_content %}
<form class="flex flex-col gap-8 h-full w-full">
    <div class="flex gap-8 px-14">

    <div class="relative w-32 h-32 rounded-full flex justify-center items-center text-center bg-primary shadow-xl">
      <img class="w-16 h-16" src="/static/icons/api-icon.svg" alt="" />
    </div>

    <div class="flex flex-row flex-1 justify-between items-center py-2">
      <div class="flex flex-col gap-3">
        <h2 class="font-bold text-2xl">Add Service(s)</h2>
        <p>Now add what will actually happen technically, while the user is using the product.</p>
        <p class="font-bold">--> How to find reliable sources</p>
      </div>
    </div>
    </div>

        {% include "./components/service-block.html" %}
    <div class="mx-auto space-x-1">
      <button id="validate-services-form-button" class="px-10 py-3 self-center rounded-3xl bg-primary text-white hover:bg-black hover:text-white"
              hx-post="/quiz/usage-patterns" hx-target="#quiz-container" hx-swap="innerHTML" hx-push-url="usage-patterns">Continue
      </button>
    </div>
</form>
{% endblock %}
