<div class="flex flex-col p-1 rounded bg-grey-10">
<div class="flex flex-row">
  <div>icon</div>
  <div class="flex flex-col bg-grey-3">
    <div class="text-white-1">API 1</div>
    <div class="text-white-1 font-bold">{{service.name}}</div>
  </div>
</div>
<div class="flex flex-row gap-x-4">
  <div class="p-1 rounded bg-grey-3">
    <div class="flex flex-row">
      <div>Icon</div>
      <div class="text-white-1">Server 1</div>
    </div>
    <div class="flex flex-row gap-1">
      <div class="p-1 rounded text-grey-1 bg-grey-2">2 cores CPU</div>
      <div class="p-1 rounded text-grey-1 bg-grey-2">Autoscalling configuration</div>
    </div>
  </div>

  <div class="p-1 rounded bg-grey-3">
    <div class="flex flex-row">
      <div>Icon</div>
      <div class="text-white-1">Storage 1</div>
    </div>
    <div class="flex flex-row gap-1">
      <div class="p-1 rounded text-grey-1 bg-grey-2">1 u.TB storage capacity</div>
      <div class="p-1 rounded text-grey-1 bg-grey-2">Replication factor of 2</div>
    </div>
  </div>
</div>
</div>
