{% load static %}

<div class="container-fluid px-5 py-5">
    <div class="row py-5">
         <div class="col-12 mb-5">
            <p class="h3"><b>Start mapping your service</b></p>
        </div>
        <div class="col-12 px-6 py-4 mb-5" style="--bs-bg-opacity: .2;">
            <div class="row align-items-center">
                <div class="col">
                    <div class="bg-primary p-2 rounded-circle shadow align-content-center" style="width: 125px; height: 125px;">
                        <img src="/static/icons/user-journey-icon.svg" class="mx-auto" alt="User journey"/>
                    </div>
                </div>
                <div class="col-10">
                    <p class="h3">
                        <b>Set user journey(s)</b>
                    </p>
                    <p>List the actions your users will take when interacting with your product, so we can make your estimation as complete as possible.</p>
                    <p><b>Tell me more about this</b></p>
                </div>
            </div>
        </div>
        <form class="col-12 px-6 py-4 mb-5" id="step-container">
            <div class="row align-items-center mb-3 row-form-line" id="div-1" index="1">
                <div class="col-1">
                    <p class="h6 pt-2"><b>Step 1</b></p>
                </div>
                <div class="col-auto">
                    <label for="step-desc-1" class="col-form-label">Your customers typically first</label>
                </div>
                <div class="col-3">
                    <input type="email" class="form-control rounded-2 border-1 border-secondary-subtle" id="step-desc-1" name="step-desc-1" required>
                </div>
                <div class="col-auto">
                    <label for="step-duration-1" class="col-form-label">for</label>
                </div>
                <div class="col-1 gx-0">
                    <input type="number" min="0" class="form-control rounded-2 border-1 border-secondary-subtle" id="step-duration-1" name="step-duration-1" required>
                </div>
                <div class="col-auto">
                    <p class="col-form-label">mins</p>
                </div>
            </div>
            {% include "./components/uj-input.html" with number='2' %}
            <div class="row align-items-center mb-3" id="btn-add-step">
                <div class="col-auto offset-1">
                   <button class="btn border-2 border-black rounded-5 px-4 py-2 mt-5 mb-5" 
                            type="button" 
                            id="add-step"
                            hx-post="user-journeys/add-step"
                            hx-target="#btn-add-step"
                            hx-swap="beforebegin"
                            hx-trigger="click"
                            hx-vals='{}'>
                        + Add a step
                    </button>
                </div>
            </div>
            <div class="row align-items-center justify-content-center mb-3">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary py-3 px-8 rounded-5 bg-primary"
                            hx-post="services" hx-target="#main-content-block" hx-swap="innerHTML" hx-push-url="services"
                            hx-indicator="#global_loader" script="on click remove the first <div/> in #main-content-block">
                        Continue
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('add-step').addEventListener('htmx:configRequest', function (event) {
    // Calculer l'index maximum actuel parmi les étapes
    let maxIndex = 0;
    // get all elements with class .row-form-line
    document.querySelectorAll('.row-form-line').forEach(div => {
        const index = parseInt(div.getAttribute('index'), 10);
        if (!isNaN(index) && index > maxIndex) {
            maxIndex = index;
        }
    });
    // add dynamically latestIndex to hx-vals
    event.detail.parameters.latestIndex = maxIndex + 1; // Incrémente pour le nouvel index
});
</script>