<div class="flex flex-col gap-y-4">
  <div class="p-1 rounded bg-grey-3">
    <div>icon</div>
    <div class="text-white-1">Step</div>
    <div class="text-white-1 font-bold">{{userJourneyStep.name}}</div>

    <div>
      <div class="p-1 rounded text-grey-1 bg-grey-2">last 5 min</div>
      <div class="p-1 rounded text-grey-1 bg-grey-2">uploads 300 mb of data</div>
    </div>
  </div>
  <div class="p-1 rounded bg-grey-3">
    <div class="text-white-1">Request to server</div>
  </div>
  <div class="p-1 rounded bg-grey-3">
    <div class="text-white-1">Save to storage</div>
  </div>
</div>
