<div class="text-white-1">
  <a href='{{ back}}'><button><--- Analyze</button></a>


  <div class="flex flex-col space-y-6">
    <div class="flex flex-row space-x-2"><span class="text-white-1">Check</span> <span class="text-grey-2">Customer journey(s)</span></div>
    <div class="flex flex-row space-x-2"><span class="text-white-1">Check</span> <span class="text-grey-2">Service(s)</span></div>
    <div class="flex flex-row space-x-2"><span class="text-white-1">Check</span> <span class="text-grey-2">Usage pattern</span></div>
  </div>
</div>
