{% load static %}

<form class="container-fluid panel text-start p-4"
      hx-post="/model_builder/edit-object/{{ object_to_edit.efootprint_id }}/"
      hx-swap="none"
      hx-disabled-elt="button"
      hx-on::after-request="closeAndEmptySidePanel()"
      autocomplete="off"
      id="formPanelSide"
>

    <div class="form-header text-end" id="panel-header">
        <div class="row align-items-center">
            <div class="col-10 text-start row justify-content-start align-items-center py-2">
                <div class="col-auto">
                    <h5 id="formModalLabel" class="m-0">
                        <b>Edit {{ object_to_edit.name }}</b>
                    </h5>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn border border-2 border-light rounded-2" aria-label="Delete" id="btn-ask-delete"
                            hx-get="/model_builder/ask-delete-object/{{ object_to_edit.efootprint_id }}/"
                            hx-swap="innerHTML"
                            hx-target="#modal-container">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="col-2">
                {% include "model_builder/side_panels/components/close_side_panel_cross.html" %}
            </div>
        </div>
    </div>
    <div class="form-body p-1" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control p-2" id="name" name="name" value="{{ object_to_edit.name }}">
            </div>
            <div class="col-12">
                <div class="accordion" id="accordionAllAttributes">
                    <div class="accordion-item">
                        <h2 class="accordion-header accordion-header-panel">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInputAttributes" aria-expanded="true" aria-controls="collapseInputAttributes">
                            {{ object_to_edit.class_as_simple_str }} attributes
                        </button>
                        </h2>
                        <div id="collapseInputAttributes" class="accordion-collapse collapse show" data-bs-parent="#accordionAllAttributes">
                            <div class="accordion-body row gy-2">
                                {% block edit_form_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {% if object_belongs_to_computable_system and object_to_edit.calculated_attributes|length > 0 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header accordion-header-panel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCalculatedAttributes" aria-expanded="false" aria-controls="collapseCalculatedAttributes">
                            Calculated attributes
                        </button>
                        </h2>
                        <div id="collapseCalculatedAttributes" class="accordion-collapse collapse" data-bs-parent="#accordionAllAttributes">
                            <div class="accordion-body row gy-2">
                                {% for item in object_to_edit.calculated_attributes %}
                                    <div class="col-10">
                                        <input disabled name="calculated_attributes{{ item }}" value="{{ item }}" class="form-control">
                                    </div>
                                    <div class="col-2">
                                        <a href="{% url 'display-calculus-graph' object_to_edit.efootprint_id item %}" target="_blank"><img src="{% static 'icons/calculus-graph.svg' %}" alt="calculus-graph-icon"></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-footer p-1" id="panel-footer">
        <div class="row justify-content-between">
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-pill w-100">Save</button>
            </div>
        </div>
    </div>
</form>
