body{
    background-color: #F9F7FC;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: #111928;
}

.home-btn-1,
.home-btn-2,
.home-btn-3 {
    min-height: 300px;
}

.home-btn-1{
    background-image: url('../images/understand-bg.svg');
}

.home-btn-2{
    background-image: url('../images/analyze-bg.svg');
}

.home-btn-3{
    background-image: url('../images/identify-bg.svg');
}

.home-btn-1,
.home-btn-2,
.home-btn-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.card-hover:hover{
    border: 3px solid #2D4675;
}

.dotted-border {
  border: 2px #9CA3AF dotted; /* Bordure pointillée noire */
}



.shadow-custom {
-webkit-box-shadow: 0px 5px 8px 4px rgba(0,0,0,0.24);
box-shadow: 0px 5px 8px 4px rgba(138, 138, 138, 0.24);
}

.reverse-shadow{
    -webkit-box-shadow: 0px -3px 8px 4px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 8px 4px rgba(138, 138, 138, 0.24);
}

.leader-line {
  z-index: 123;
}

.bg-radiant{
    background: var(--Gradient-onLight, linear-gradient(92deg, #2D4675 0.47%, #017E7E 50.5%, #1B9891 100.53%));
}

.bg-radiant-reverse{
    background: linear-gradient(92deg, #1B9891 0.47%, #017E7E 50.5%, #2D4675 100.53%);
}

/* Applique les dimensions et la position de la modal */
.form_edit_panel {
    height: 94vh;
    top: 6%;
    border-radius: 0;
    border: none;
    border-left: #e0e4e8 2px solid;
    overflow: auto;
}

.panel-result-btn{
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 100px;
    cursor: pointer;
    z-index: 100;
}

.chevron-rotate {
    transform: rotate(90deg);
}


#resultModal .modal-dialog {
    height: 94%;
    width: 75%;
    max-width: 75%;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    transform: none;
    background-color: #ffffff;
}

#resultModal .modal-content {
    height: 100%;
    border: none;
}


.modal-backdrop.show {
    display: none !important;
}
