
html{
    margin: 0;
    padding: 0;
}
body{
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    color: #111928;
    font-size: 0.8em;
    padding: 50px 0 0 0;
    margin: 0;
}

@keyframes loadingMove {
    0% { left: 0%; width: 0%; }
    20% { left: 0%; width: 25%; }
    50% { left: 50%; width: 25%; }
    80% { left: 100%; width: 25%; }
    100% { left: 100%; width: 0%; }
}

#loading-bar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #e0e0e0; /* Couleur de la barre de fond */
    overflow: hidden;
}

#loading-bar .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #0d6efd; /* Couleur de la barre animée */
    animation: none;
}
.navbar{
    height: 50px!important;
}

.navbar-item-active{
    border-bottom: var(--Gradient-onLight, linear-gradient(92deg, #2D4675 0.47%, #017E7E 50.5%, #1B9891 100.53%)) 5px solid;
}

.transition-width {
    transition: width 0.5s ease-in-out;
}

#btn-start-modeling-my-service{
    font-size: 16px;
}

.home-btn-1,
.home-btn-2,
.home-btn-3 {
    min-height: 300px;
}

.home-btn-1{
    /*background-image: url('../images/understand-bg.svg');*/
}

.home-btn-2{
    /*background-image: url('../images/analyze-bg.svg');*/
}

.home-btn-3{
    /*background-image: url('../images/identify-bg.svg');*/
}

.home-btn-1,
.home-btn-2,
.home-btn-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.home-img{
    width: 175px;
    height: 175px;
}

.navbar{
    z-index: 101 !important;
}

.F3F4F6{
    background-color: #F3F4F6;
}

.card-hover:hover{
    border: 3px solid #2D4675;
}

.dotted-border {
  border: 2px #9CA3AF dotted; /* Bordure pointillée noire */
}

.shadow-custom {
    -webkit-box-shadow: 0px 5px 8px 4px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 8px 4px rgba(138, 138, 138, 0.24);
}

.reverse-shadow{
    -webkit-box-shadow: 0px -3px 8px 4px rgba(0,0,0,0.24);
    box-shadow: 0px 5px 8px 4px rgba(138, 138, 138, 0.24);
}

.leader-line {
  z-index: 100;
}

.bg-radiant{
    background: var(--Gradient-onLight, linear-gradient(92deg, #2D4675 0.47%, #017E7E 50.5%, #1B9891 100.53%));
}

.bg-radiant-reverse{
    background: linear-gradient(92deg, #1B9891 0.47%, #017E7E 50.5%, #2D4675 100.53%);
}

#model-builder-page{
    overflow: hidden;
}

#model-canva{
    background-color: white;
    overflow-y: auto;
}

#sidePanel {
    border-radius: 0;
    border: none;
    background: #FFFFFF;
    height: calc(100vh - 50px);
    position: fixed;
    width: 25%;
    right: 0;
    top: 52px;
    overflow-y: auto;
}

.list-object-efootprint{
    min-height: 80vh !important;
}

.panel-result-btn{
    position: absolute;
    bottom: 0 !important;
    width: 100vw;
    height: 5vh;
    cursor: pointer;
    z-index: 3000 !important;
    padding: 0;
}

.btn-open-panel-result{
    height: 5vh;
}

.left-shadow{
    box-shadow: -5px 0 8px 4px rgba(138,138,138,0.24);
    -webkit-box-shadow: -5px 0 9px 4px rgba(138,138,138,0.24);
    -moz-box-shadow: -5px 0 8px 4px rgba(138,138,138,0.24);
}

.panel-body{
    padding: 2em;
}

.chevron-rotate {
    transform: rotate(90deg);
}

.accordion-panel .accordion-button{
    background-color: #F3F4F6;
    color: #4B5563 ;
    cursor: pointer;
}
.accordion-panel .accordion-button{
    color: #4B5563 ;
}

.fixed-height{
}

#usage-journey-container,
#usage-pattern-container,
#server-container {
}

#usage-journey-container .fixed-height,
#usage-pattern-container .fixed-height,
#server-container .fixed-height{
}

#usage-journey-container,
#usage-pattern-container{
    background-color: rgba(230, 250, 252, 0.5);
}

#server-container{
    background-color: rgba(241, 247, 253, 0.5);
}

.fz-0-5{
    font-size: 0.5em;
}

.fz-0-7{
    font-size: 0.7em;
}

.fz-0-8{
    font-size: 0.8em;
}

.fz-0-9{
    font-size: 0.9em;
}

.fz-1{
    font-size: 1em;
}

.h-38{
    height: 38px;
}

.result-modal,
.result-modal .modal-dialog{
    border-radius: 0;
    border: none;
    position: fixed!important;
    left: 0 !important;
    top: 5vh !important;
    max-width: 100vw !important;
    width: 75vw !important;
    max-height: 95vw !important;
    height: 93vh !important;
    margin:0;
}


.usage-pattern-modal-time-series,
.usage-pattern-modal-time-series .modal-dialog{
    border-radius: 0;
    border: none;
    position: fixed!important;
    right: 0 !important;
    bottom: 0 !important;
    max-width: 100vw !important;
    width: 75vw !important;
    max-height: 95vw !important;
    height: 95vh !important;
    margin:0;
}

.usage-pattern-modal-attributes,
.usage-pattern-modal-attributes .modal-dialog{
    border-radius: 0;
    border: none;
    max-width: 100vw !important;
    width: 25vw !important;
    max-height: 95vw !important;
    height: 93vh !important;
    position: fixed!important;
    right: 0 !important;
    bottom: 0 !important;
    margin:0;
}

.result-modal .modal-content{
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    width: 75vw !important;
    height: 95vh !important;
    border-radius: 0;
    border: none;
    overflow-y: auto;
}

#modal-timeseries-chart .accordion-button,
#modal-timeseries-chart .accordion-header,
#modal-timeseries-chart .accordion-button:not(.collapsed),
#modal-timeseries-chart .accordion-button:not(.collapsed):after{
    background-color: #F3F4F6;
}

.light-select{
    background-color: #F9FAFB;
    border-color: #D1D5DB;
    color:#6B7280;
}

.h-30{
    height: 30px;
}

.header-btn-result{
    border: 0;
}

.result-active{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #2D4675;
}

#model-builder-modal .modal-header{
    border-bottom: none;
}

#model-builder-modal .modal-footer{
    border-top: none;
}

#model-builder-modal p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;
    /* gray/500 */
    color: #6B7280;
}


.chartTimeseries{
    position: fixed;
    height: 70vh !important;
    width: 50vw !important;
    z-index: 2000 !important;
    top: 15vh !important;
    left: 24vw !important;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 2rem;
}


.accordion-header-panel,
.accordion-header-panel .show,
.accordion-header-panel .collapsed,
.accordion-button:not(.collapsed) {
    background-color: #F3F4F6 !important;
}

.accordion-header-panel:hover{
    background-color: #bfbfc1 !important;
}

@keyframes grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

@keyframes shrink {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.panel-result-btn, #btn-open-panel-result {
    transition: transform 0.2s ease-in-out;
}
