{% extends "analyze-template.html" %} {% block trail %} {% include "../components/trail.html" with back='/quiz/analyze/onboarding' index=1 %}{% endblock %} {% block analyze_content %}

<div class="flex flex-col flex-1">
  <div class="flex flex-row mx-32 space-x-4">
    <div class="relative w-32 h-32 bg-grey-14 rounded-full flex justify-center items-center text-center shadow-xl">
      <img class="w-24 h-24" src="/static/icons/user-journey-icon.svg" alt="User journey" />
    </div>

    <div class="flex flex-row flex-1 justify-between items-center">
      <div class="flex flex-col">
        <p class="text-white-1 font-bold">Set User Journeys</p>
        <p class="text-white-1">List the actions your users will take when interacting with your product, so we can make your estimation as complete as possible.</p>
        <p>Tell me more about this</p>
      </div>
    </div>
  </div>

  <div class="flex flex-col mx-32 mt-32 space-x-4">
    <form hx-post="/quiz/analyze/user-journeys/add-step" hx-select="#user-journey-steps" hx-target="#user-journey-steps">
      <div id="user-journey-steps" class="flex flex-col space-y-16">
        {% for step in user_journeys_steps %}
        <div class="flex flex-row space-x-6">
          <img src="/static/icons/ellipse.svg" alt="step" />
          <div>Step {{forloop.counter}}</div>
          <div>Then they</div>
          <div><input class="text-black-1" type="text" name="step-{{forloop.counter}}-name" value="{{step}}" /></div>
        </div>
        {% endfor %}

        <button type="submit" class="flex flex-row space-x-6">
          <img src="/static/icons/plus.svg" alt="add" />
          <div>Add step</div>
        </button>
      </div>
    </form>
  </div>
  <button class="w-min bg-grey-15 mx-auto px-8 py-4 rounded-full"><a href="/quiz/analyze/apis">Continue</a></button>
</div>
{% endblock %}
