<div id="{{ object.object.name }}"
     class="flex flex-col p-1 w-80 rounded bg-grey-9 {{ object_type }}">
    <div class="text-white-1 font-bold">{{ object.object.name }}</div>
    <section class="flex flex-col gap-y-4">
        {% for numerical_attribute in object.numerical_attributes %}
            <div class="flex flex-col space-y-2">
                <div>{{ numerical_attribute.attr_name_in_mod_obj_container }}</div>
                <div>{{ numerical_attribute.value.magnitude }}</div>
                <span>{{ numerical_attribute.short_unit }}</span>
            </div>
            <hr />
        {% endfor %}
    </section>
    {% if object.modeling_obj_attributes %}
        <br />
        <section>
            <span>Direct object links</span>
            <br />
            <div class="space-y-2">
                {% for modeling_obj_attribute in object.modeling_obj_attributes %}
                    {% include "./object-link.html" with linked_object=modeling_obj_attribute %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if object.list_attributes %}
        <br />
        <section>
            <span>List object links</span>
            <br />
            <ul class="space-y-2">
                {% for list_attribute in object.list_attributes %}
                    <li>{% include "./object-link.html" with linked_object=list_attribute %}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
</div>
