<div id="{{ object.object.id }}"
     class="flex flex-col w-80 rounded text-black-1 bg-primary-lighter {{ object_type }}"
     {% if hx_swap_oob %}
        hx-swap-oob="true"
     {% endif %}>
    <div class="flex flex-row pt-2 pl-2 justify-between">
        <div class="text-lg font-bold object-name">{{ object.object.name }}</div>
        <div>
            <button class="edit-object-button relative bg-primary p-2 rounded-xl h-10 hover:bg-primary-dark active:bg-primary-darker text-white mr-2"
                    hx-post="open-edit-object-panel/{{ object_type }}/"
                    hx-vals='{"object-id": "{{ object.object.id }}" }'
                    hx-swap="beforeend"
                    hx-target="#model-builder-page"
                    script="on click if #object-creation-or-edition-form then remove #object-creation-or-edition-form end
                            on click hide the first <span/> in me with *opacity
                            on htmx:afterRequest show the first <span/> in me with *opacity">
                <img src="/static/loaders/bars-white.svg" class="htmx-indicator w-6 h-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" style="pointer-events: none"/>
                <span>Edit</span>
            </button>
            {% if object.is_deletable %}
                <button class="relative delete-object-button bg-secondary p-2 rounded-xl h-10 hover:bg-secondary-dark active:bg-secondary-darker text-white mr-2"
                        hx-post="delete-object"
                        hx-swap="none"
                        hx-vals='{"object-id": "{{ object.object.id }}", "object-type": "{{ object_type }}"}'
                        hx-confirm="Are you sure you want to delete {{ object.object.name }} ?"
                        script="on htmx:afterRequest remove #{{ object.object.id }}
                                on click hide the first <span/> in me with *opacity">
                    <img src="/static/loaders/bars.svg" class="htmx-indicator w-6 h-6 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" style="pointer-events: none"/>
                    <span>Delete</span>
                </button>
            {% endif %}
        </div>
    </div>
    <section class="my-2 flex flex-col gap-y-1.5 px-4">
        {% for numerical_attribute in object.numerical_attributes %}
            <div class="flex flex-row gap-x-1 px-2 bg-white-1 rounded">
                <div>{{ numerical_attribute.readable_attr_name }}</div>
                <div>{{ numerical_attribute.value.magnitude }}</div>
                <span>{{ numerical_attribute.short_unit }}</span>
            </div>
        {% endfor %}
    </section>
    {% if object.modeling_obj_attributes %}
        <br />
        <section class="space-y-2">
            <div class="px-2">Direct object links</div>
            <div class="space-y-2">
                {% for modeling_obj_attribute in object.modeling_obj_attributes %}
                    {% include "./object-link.html" with linked_object=modeling_obj_attribute %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% if object.list_attributes %}
        <br />
        <section>
            <span class="my-4 px-2">List object links</span>
            <ul class="space-y-2">
                {% for list_attribute in object.list_attributes %}
                    <li>{% include "./object-link.html" with linked_object=list_attribute %}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}
</div>
