{% load custom_filters %}
<div class="form_edit_panel p-4 text-start">
    <div class="w-100 text-end">
        <button class="btn btn-white" aria-label="Close"
                onclick="closePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
    <div class="form-header" id="panel-header">
        <h5 id="formModalLabel" class="mt-4">
            <b>{{ export_object.name }}</b>
        </h5>
    </div>
    <div class="form-body" id="panel-body">
        <div class="row text-start">
            {% for field in structure %}
                {% if field.type == 'string' %}
                    <div class="col-12 mb-3">
                        <label for="form_edit_{{ field.name }}" class="form-label">{{ field.name|capfirst }}</label>
                        <input type="text" class="form-control p-2" id="form_edit_{{ field.name }}" name="form_edit_{{ field.name }}"
                               value="{{ export_object|get_item:field.name }}" placeholder="{{ field.name }}">
                    </div>
                {% elif field.type == 'number' %}
                    <div class="col-12 mb-3">
                        <label for="form_edit_{{ field.name }}" class="form-label">{{ field.name|capfirst }}</label>
                        <input type="number" class="form-control p-2" id="form_edit_{{ field.name }}" name="form_edit_{{ field.name }}"
                               value="{{ export_object|get_item:field.name }}">
                    </div>
                {% elif field.type == 'boolean' %}
                    <div class="col-12 mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="form_edit_{{ field.name }}" name="form_edit_{{ field.name }}"
                               {% if export_object|get_item:field.name %}checked{% endif %}>
                        <label class="form-check-label" for="form_edit_{{ field.name }}">{{ field.name|capfirst }}</label>
                    </div>
                {% elif field.type == 'array' %}
                <div class="col-12 mb-3">
                    <label for="form_edit_{{ field.name }}" class="form-label">{{ field.name|capfirst }}</label>
                    <select class="form-control p-2" id="form_edit_{{ field.name }}" name="form_edit_{{ field.name }}" multiple>
                        {% for item in export_object|get_item:field.name %}
                            <option value="{{ item }}" selected>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% elif field.type == 'object' %}
                <div class="col-8 mb-3">
                    <div class="input-group">
                        <label for="form_edit_{{ field.name }}" class="form-label w-100">{{ field.name|capfirst }}</label>
                        <input type="text"
                               class="form-control input_with_add_on"
                               id="form_edit_{{ field.name }}"
                               name="form_edit_{{ field.name }}"
                               value="{{ export_object|get_item:field.name|get_item:'value'|default:'' }}"
                               placeholder="Enter value">
                        <span class="input-group-text" id="basic-addon2">
                            {{ export_object|get_item:field.name|get_item:'unit'|default:'' }}
                        </span>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer border border-0">
            <button type="button" class="btn btn-primary rounded-pill w-100">Sauvegarder</button>
        </div>
    </div>
</div>
