{% load static %}
<div class="container-fluid bg-white" id="model-builder-page">
    <div class="row">
        <div class="col-9" id="model-canva" style="height: 80vh !important; overflow: auto;">
            <div class="row p-0">
                <div class="col-4 p-4">
                    <div class="bg-light rounded-4 p-4 shadow-sm">
                        <div class="row mb-4">
                            <div class="col-md-auto">
                                <h5><b>Usage patterns</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start">
                                <button class="w-75 btn btn-white dotted-border text-start" id="add_usage_pattern">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Add usage pattern
                                </button>
                            </div>
                        </div>
                        <div id="up-list" class="list-group w-75">
                            {% for usage_pattern in model_web.usage_patterns %}
                                {% include 'model_builder/model_part/card/usage_pattern_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4 p-4">
                    <div class="bg-light rounded-4 p-4 shadow-sm">
                        <div class="row justify-content-between mb-4">
                            <div class="col-md-auto">
                                <h5><b>User Journeys</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start">
                                <button class="w-75 btn btn-white dotted-border text-start"
                                    hx-get="/model_builder/open-create-object-panel/UserJourney/"
                                    hx-target="#formPanel"
                                    hx-trigger="click"
                                    hx-swap="innerHTML"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                    </svg>
                                    Add usage journey
                                </button>
                            </div>
                        </div>
                        <div id="uj-list" class="list-group w-100">
                            {% for user_journey in model_web.user_journeys %}
                                {% include 'model_builder/model_part/card/user_journey_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4 p-4">
                    <div class="bg-light rounded-4 p-4 shadow-sm">
                        <div class="row justify-content-between mb-4">
                            <div class="col-md-auto">
                                <h5><b>Infrastructure</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start" id="add_server">
                                <button class="w-75 btn btn-white dotted-border text-start">
                                    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-3"  width="16px" height="16px" alt="add icon" />
                                    Add server
                                </button>
                            </div>
                        </div>
                        <div id="server-list" class="list-group w-75" style="margin-left:25%;">
                            {% for server in model_web.servers %}
                                {% include 'model_builder/model_part/card/server_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3" style="height: 100vh !important" id="formPanel">
        </div>
    </div>
</div>

<div class="panel-result-btn position-fixed bottom-0" style="z-index: 1000;">
    <button class="row bg-white rounded-top-2 reverse-shadow w-100 border border-0" data-bs-toggle="modal" data-bs-target="#resultModal">
        <div class="col-12 text-center text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
        </div>
            <div class="col-12 text-start px-4 mb-5">
                <h5><b>Results</b></h5>
        </div>
    </button>
</div>

{% include 'model_builder/resultPanel.html' %}
