{% load static %}
<link rel="stylesheet" href="{% static 'css/drawflow.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/drawflow.css' %}" />

<div id="model-builder-page" class="w-screen">
    <div class="grid grid-cols-2 gap-4 items-center w-full">
        {% include "./graph-container.html" with systemFootprint=systemFootprint %}
        {% include "./compare-container.html" with img_base64=img_base64 %}
    </div>
    <div class="flex justify-between px-8 items-center w-full">
        {% include "./model-comparison-buttons.html" with is_different_from_ref_model=is_different_from_ref_model %}
        <a class="bg-primary py-2 px-6 rounded-xl h-min hover:bg-primary-dark active:bg-primary-darker text-white" href="download-json">Export your model</a>
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col bg-background-5 p-4 rounded">
            <div class="flex flex-row">
                {% for object_type, object_list in obj_template_dict.items %}
                    <div class="flex bg-pink-light p-4 w-32 h-32 rounded">
                        <button class="text-black flex flex-col my-auto mx-auto items-center"
                                id="add-new-{{ object_type }}-button"
                                script="on click if #object-creation-or-edition-form is not null then remove #object-creation-or-edition-form"
                                hx-post="open-create-object-panel/{{ object_type }}/"
                                hx-swap="beforeend"
                                hx-target="#model-builder-page"
                                    hx-disabled-elt="button">
                            <span class="flex place-content-center h-16 w-16 text-white bg-primary rounded-full"><span class="my-auto">
                                <img src="{% static '/icons/plus-white.svg' %}" alt="Add new object" />
                                </span></span><span>Add {{ object_type }}</span>
                            </button>
                        </div>
                {% endfor %}
            </div>
            <div id="drawflow" />
        </div>
    </div>
</div>
<div>{{ drawflow_json|json_script:"json-data" }}</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        init("{{ request.scheme }}://{{ request.get_host }}", "{{csrf_token}}");
    });</script>

