{% load static %}
{% include 'model_builder/navbar.html' %}
<div id="loading-bar" class="bg-body-tertiary">
  <div class="progress-bar"></div>
</div>
<div class="container-fluid p-0" id="model-builder-page">
    <div class="row g-0">
        <div class="col-12" id="model-canva">
            <div class="row my-3 mx-0 px-2 gx-3 ">
                <div class="col-4">
                    <div class="rounded-4 p-4 list-object-efootprint" id="usage-pattern-container">
                        <div class="row mb-4">
                            <div class="col-md-auto">
                                <h5><b>Usage patterns</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start">
                                <button class="w-75 btn btn-white dotted-border text-start fz-0-9 rounded-2"
                                id="add_usage_pattern"
                                hx-get="/model_builder/open-create-usage-pattern-panel/"
                                hx-target="#formPanel"
                                hx-trigger="click"
                                hx-swap="innerHTML"
                                hx-disabled-elt="button"

                                >
                                <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-3"  width="14px" height="14px" alt="add icon" />
                                Add usage pattern
                                </button>
                            </div>
                        </div>
                        <div id="up-list" class="list-group w-75">
                            {% for usage_pattern in model_web.usage_patterns %}
                            {% include 'model_builder/object_cards/usage_pattern_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="rounded-4 p-4 list-object-efootprint" id="usage-journey-container">
                        <div class="row justify-content-between mb-4">
                            <div class="col-md-auto">
                                 <h5><b>Usage journeys</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start">
                                <button class="w-75 btn btn-white dotted-border text-start fz-0-9 rounded-2"
                                        id="btn-add-usage-journey"
                                        hx-get="/model_builder/open-create-object-panel/UsageJourney/"
                                        hx-target="#formPanel"
                                        hx-trigger="click"
                                        hx-swap="innerHTML"
                                        hx-disabled-elt="button"

                                >
                                    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-3"  width="14px" height="14px" alt="add icon" />
                                    Add usage journey
                                </button>
                            </div>
                        </div>
                        <div id="uj-list" class="list-group w-100">
                            {% for usage_journey in model_web.usage_journeys %}
                            {% include 'model_builder/object_cards/usage_journey_card.html' %}
                            {% endfor %}
                            {% for empty_usage_journey in model_web.empty_usage_journeys %}
                            {% include 'model_builder/object_cards/usage_journey_empty.html' with usage_journey=empty_usage_journey %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="rounded-4 p-4 list-object-efootprint" id="server-container">
                        <div class="row justify-content-between mb-4">
                            <div class="col-md-auto">
                                <h5><b>Infrastructure</b></h5>
                            </div>
                            <div class="col-12 mt-2 justify-content-start text-start" id="add_server">
                                <button class="w-75 btn btn-white dotted-border text-start fz-0-9 rounded-2"
                                        id="btn-add-server"
                                hx-get="/model_builder/open-create-server-panel/"
                                hx-target="#formPanel"
                                hx-trigger="click"
                                hx-swap="innerHTML"
                                hx-disabled-elt="button"

                                >
                                    <img src="{% static 'icons/add_icon.svg' %}" class="border-2 border-white me-3"  width="14px" height="14px" alt="add icon" />
                                    Add server
                                </button>
                            </div>
                        </div>
                        <div id="server-list" class="list-group w-75" style="margin-left:25%;">
                            {% for server in model_web.servers %}
                            {% include 'model_builder/object_cards/server_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 d-none transition-width" id="formPanel"></div>
</div>

<div id="panel-result-btn" class="panel-result-btn position-fixed bottom-0" style="z-index: 1000;">
    <button class="row bg-white rounded-top-2 reverse-shadow w-100 border border-0"
            hx-get="/model_builder/result-chart/"
            hx-target="#modal-container"
            hx-swap="innerHTML"
            hx-trigger="click"
            hx-disabled-elt="button"
    >
        <div class="col-12 text-center text-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="40" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
        </div>
            <div class="col-12 text-start px-4 mb-5">
                <h5><b>Results</b></h5>
        </div>
    </button>
</div>

<div id="modal-container">
</div>

<div id="loader-container">
</div>

<div class="modal fade" id="loader-modal" tabindex="-1" aria-labelledby="loader-modal-Label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="spinner-border mt-3" role="status" style="width: 100px; height: 100px;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p><strong role="status">Loading...</strong></p>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="error-import-modal" tabindex="-1" aria-labelledby="error-import-modal-Label" aria-hidden="true"  data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-x-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
                <p><strong role="status">Import errror</strong></p>
                <p>{{ import_error_message }}</p>
                <div class="progress mt-3">
                    <div id="progressBar" class="progress-bar bg-primary" style="width: 100%;"></div>
                </div>
                <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="understand-modal" tabindex="-1" aria-labelledby="understand-modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Understand our approach</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="dropModalUnderstand()"></button>
            </div>
            <div class="modal-body">
                {% include 'understand.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="dropModalUnderstand()">Close</button>
            </div>
        </div>
    </div>
</div>



</div>

<script src="{% static 'scripts/dynamic_card_model.js' %}"></script>
<script src="{% static 'scripts/result_chart.js' %}"></script>
