<div id="object-creation-or-edition-form"
     class="position-fixed end-0 bottom-0 bg-white shadow p-4 overflow-auto vh-100 w-30 transition-transform translate-x-100">
    <div class="h-100 position-relative">
        <div class="d-flex align-items-center gap-3">
            <button id="close-panel-button" class="btn btn-link p-0 text-dark"
                    onclick="document.getElementById('object-creation-or-edition-form').remove();">
                <img src="/static/icons/arrow_back_black.svg" alt="Back arrow" />
            </button>
            <h3 class="fw-bold fs-4">{{ header }}</h3>
        </div>
        {% block object_panel_content %}{% endblock %}
    </div>
</div>
