<div id="object-creation-form"
     class="fixed right-0 bottom-0 z-40 overflow-scroll min-w-[30%] h-[100vh] shadow-md p-4 transition-transform duration-500 -translate-x-full bg-white dark:bg-gray-800 {% if display_obj_form == False %}hidden{% endif %}{% if display_obj_form == True %}translate-x-0{% endif %}">
    <div class="relative h-full">
        <div class="flex gap-8 items-center">
        <button hx-get="close-form"
                hx-swap="outerHTML"
                hx-target="#object-creation-form"
                class="h-min">
            <img class="text-black-1"
                 src="/static/icons/arrow_back_black.svg"
                 alt="Back arrow" />
        </button>
        <h3 class="font-bold text-2xl">{{ header }}</h3>
        </div>
        <form class="flex flex-col space-y-8 mt-8"
              hx-post="add-new-object"
              hx-vals='{"obj_type": "{{ obj_type }}", "is_an_object_edition": "{{ is_an_object_edition }}", "obj_id": "{{ object_id }}" }'
              hx-target="#model-builder-page">
            <label class="flex flex-col gap-4 font-bold">
                Name
                <input id="new-object-name" type="text" name="name" class="rounded-md border-grey-4 border-[1px] border-solid mr-2" value="{{default_name}}" required />
            </label>
            {% for numerical_attribute in numerical_attributes %}
                <div class="flex flex-col gap-4 items-start">
                    <span class="font-bold">{{ numerical_attribute.attr_name }}</span>
                    <div>
                    <input id="{{ numerical_attribute.attr_name }}"
                           type="number"
                           step="0.01"
                           name="{{ numerical_attribute.attr_name }}"
                           value="{{ numerical_attribute.default_value }}"
                            class="rounded-md border-grey-4 border-[1px] border-solid mr-2"
                    />
                    <span>{{ numerical_attribute.unit }}</span>
                    </div>
                </div>
            {% endfor %}
            {% for modeling_obj_attribute in modeling_obj_attributes %}
                <label class="flex flex-col gap-4 font-bold">
                    {{ modeling_obj_attribute.object_type }}
                    <select id="{{ modeling_obj_attribute.attr_name }}"
                            name="{{ modeling_obj_attribute.attr_name }}"
                            class="rounded-md border-grey-4 border-[1px] border-solid font-normal">
                        {% for existing_object in modeling_obj_attribute.existing_objects %}
                            <option value="{{ existing_object.id }}"
                            {% if existing_object.id == modeling_obj_attribute.selected %} selected {% endif %}
                            >{{ existing_object.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            {% endfor %}
            {% for list_attribute in list_attributes %}
                <label class="font-bold">
                    {{ list_attribute.object_type }}
                    <div id="{{ list_attribute.attr_name }}"
                         class="text-black-1 flex flex-col">
                       {% for existing_object in list_attribute.existing_objects %}
                        <label class="flex gap-2 items-center font-normal">
                        <input value="{{ existing_object.id }}"
                                 name="{{ list_attribute.attr_name }}"
                                 type="checkbox"
                               class="rounded-md border-grey-4 border-[1px] border-solid mr-2"
                                 {% if existing_object.id in list_attribute.selected %} checked {% endif %}>
                             {{ existing_object.name }}
                          </input>
                        </label>
                        {% endfor %}
                    </div>
            </label>
            {% endfor %}
        <div class="flex w-full flex-end bottom-0 justify-end gap-8 pb-8">
            <button id="create-new-object-button" type="submit" class="px-10 py-3 self-center rounded-3xl bg-primary text-white hover:bg-black hover:text-white">
                {% if is_an_object_edition %} Edit {% else %} Save {% endif %}
            </button>
        </div>
    </form>
    </div>
</div>
