{% extends "model_builder/object-panel-template.html" %}

{% block object_panel_content %}
<form class="flex flex-col space-y-8 mt-8"
      hx-post="{{ form_target_url }}"
      hx-vals='{"obj_type": "{{ obj_type }}", "obj_id": "{{ object_id }}" }'
      hx-target="{{ hx_target }}"
      hx-swap="{{ hx_swap }}"
      hx-indicator="#graph-loader,#create-new-object-button-loader"
      script="on htmx:beforeSend hide the first <span/> in #create-new-object-button with *opacity
              on htmx:afterRequest remove #object-creation-or-edition-form
              on htmx:afterRequest if #graph-comparison-image is not null then remove #graph-comparison-image end
              on submit remove the first <div/> in #graph-container">
    <label class="flex flex-col gap-4 font-bold">
        Name
        <input id="new-object-name" type="text" name="name" class="rounded-md border-grey-4 border-[1px] border-solid mr-2" value="{{default_name}}" required />
    </label>
    {% for numerical_attribute in numerical_attributes %}
        <div class="flex flex-col gap-4 items-start">
            <span class="font-bold">{{ numerical_attribute.attr_name }}</span>
            <div>
            <input id="{{ numerical_attribute.attr_name }}"
                   type="number"
                   step="0.01"
                   name="{{ numerical_attribute.attr_name }}"
                   value="{{ numerical_attribute.default_value }}"
                    class="rounded-md border-grey-4 border-[1px] border-solid mr-2"
            />
            <input name="{{ numerical_attribute.attr_name }}" value="{{ numerical_attribute.unit }}" readonly
            class="appearance-none bg-transparent border-none"/>
            </div>
        </div>
    {% endfor %}
    {% for modeling_obj_attribute in modeling_obj_attributes %}
        <label class="flex flex-col gap-4 font-bold">
            {{ modeling_obj_attribute.object_type }}
            <select id="{{ modeling_obj_attribute.attr_name }}"
                    name="{{ modeling_obj_attribute.attr_name }}"
                    class="rounded-md border-grey-4 border-[1px] border-solid font-normal">
                {% for existing_object in modeling_obj_attribute.existing_objects %}
                    <option value="{{ existing_object.id }}"
                    {% if existing_object.id == modeling_obj_attribute.selected %} selected {% endif %}
                    >{{ existing_object.name }}</option>
                {% endfor %}
            </select>
        </label>
    {% endfor %}
    {% for list_attribute in list_attributes %}
        <label class="font-bold">
            {{ list_attribute.object_type }}
            <div id="{{ list_attribute.attr_name }}"
                 class="text-black-1 flex flex-col">
               {% for existing_object in list_attribute.existing_objects %}
                <label class="flex gap-2 items-center font-normal">
                <input value="{{ existing_object.id }}"
                         name="{{ list_attribute.attr_name }}"
                         type="checkbox"
                       class="rounded-md border-grey-4 border-[1px] border-solid mr-2"
                         {% if existing_object.id in list_attribute.selected %} checked {% endif %}>
                     {{ existing_object.name }}
                  </input>
                </label>
                {% endfor %}
            </div>
        </label>
    <script>
    document.getElementById('create-new-object-button').addEventListener('click', function(event) {
        const checkboxes = document.querySelectorAll('input[name="{{ list_attribute.attr_name }}"]');
        const checkedOne = Array.from(checkboxes).some(checkbox => checkbox.checked);

        if (!checkedOne) {
            event.preventDefault(); // Prevent form submission
            document.getElementById('error-message').style.display = 'block';
        }
    });
    </script>
    {% endfor %}
    <div id="error-message" style="color: red; display: none;">Please select at least one option.</div>
    <div class="flex w-full flex-end bottom-0 justify-end gap-8 pb-8">
        <button id="create-new-object-button" type="submit" class="relative px-10 py-3 self-center rounded-3xl bg-primary text-white hover:bg-primary-dark active:bg-primary-darker"
        >
            <img id="create-new-object-button-loader" src="/static/loaders/bars-white.svg" class="htmx-indicator w-10 h-10 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" style="pointer-events: none"/>
            <span>{{ output_button_label }}</span>
        </button>
    </div>
</form>

{% endblock %}
