<div id="object-creation-form"
     class="text-black-1 bg-white-1 min-h-full fixed top-0 right-0 w-64 {% if display_obj_form == False %}hidden{% endif %}">
    <button hx-get="close-form"
            hx-swap="outerHTML"
            hx-target="#object-creation-form"
            class="h-min">
        <img class="text-black-1"
             src="/static/icons/arrow_back_black.svg"
             alt="Back arrow" />
    </button>
    <h3>New {{ obj_name }}</h3>
    <form class="flex flex-col space-y-8 mt-8"
          hx-post="add-new-object"
          hx-vals='{"obj_type": "{{ obj_name }}" }'
          hx-select="#model-builder-page"
          hx-target="#model-builder-page">
        <div>
            <label>
                Name :
                <input id="new-object-name" type="text" name="name" required />
            </label>
        </div>
        {% for numerical_attribute in numerical_attributes %}
            <label>
                {{ numerical_attribute.attr_name }}
                <input id="{{ numerical_attribute.attr_name }}"
                       type="number"
                       name="{{ numerical_attribute.attr_name }}"
                       value="{{ numerical_attribute.default_value }}" />
                {{ numerical_attribute.unit }}
            </label>
        {% endfor %}
        {% for modeling_obj_attribute in modeling_obj_attributes %}
            <label>
                {{ modeling_obj_attribute.object_type }}
                <select id="{{ modeling_obj_attribute.attr_name }}"
                        name="{{ modeling_obj_attribute.attr_name }}"
                        class="text-black-1">
                    {% for key, value in object_types.items %}
                        {% if key == modeling_obj_attribute.object_type %}
                            {% for object in value %}<option value="{{ object.id }}">{{ object.name }}</option>{% endfor %}
                        {% endif %}
                    {% endfor %}
                </select>
            </label>
        {% endfor %}
        {% for list_attribute in list_attributes %}
            <label>
                {{ list_attribute.object_type }}
                <div id="{{ list_attribute.attr_name }}"
                        class="text-black-1 flex flex-col">
                    {% for key, value in object_types.items %}
                        {% if key == list_attribute.object_type %}
                            {% for object in value %}
                                <input value="{{ object.id }}" name="{{ list_attribute.attr_name }}" type="checkbox">
                                    {{ object.name }}
                                </input>{% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </label>
        {% endfor %}
        <div class="flex content-center flex-row space-x-4">
            <button>Cancel</button>
            <button id="create-new-object-button" type="submit">Save</button>
        </div>
    </form>
</div>
