{% load static %}
<div class="modal fade reverse-shadow result-modal" id="resultModal" tabindex="-1" aria-labelledby="resultModal" aria-hidden="true" data-bs-backdrop="false" data-bs-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content p-2">
            <div class="modal-header px-2  py-0">
                <button class="bg-transparent bg-transparent header-btn-result result-active p-2 fz-1 me-2">
                    <b>Results</b>
                </button>
                <!--
                <button class="bg-transparent bg-transparent header-btn-result p-2 fz-1">
                    <b>Computations</b>
                </button>
                -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-4">
                    <div class="col-12 shadow rounded-2 p-4 mt-3 ">
                        <p class="h5">
                            Total CO2 emissions over time
                        </p>
                         <div class="row align-items-center mb-2" id="form-result-panel">
                            <div class="col-auto">
                                <label for="result_period_analysis" class="form-label w-100 text-start fz-0-8">Time period</label>
                                <select class="form-select light-select fz-0-8 h-30"
                                        id="result_period_analysis"
                                        name="result_period_analysis"
                                        onchange="drawAreaResultChart()">
                                    <option value="day">Day</option>
                                    <option value="week">Week</option>
                                    <option value="month" selected>Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <label for="result_kpi_analysis" class="form-label w-100 text-start fz-0-8">Calculation</label>
                                <select class="form-select light-select fz-0-8 h-30"
                                        id="result_kpi_analysis"
                                        name="result_kpi_analysis"
                                        onchange="drawAreaResultChart()">
                                    <option value="avg">Average emissions over period</option>
                                    <option value="sum">Emissions over period</option>
                                    <option value="cumsum" selected>Cumulative emissions</option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-white border border-1 border-body-tertiary rounded-pill fz-0-8"
                                    id="reset_zoom"
                                    onclick="charts['stackedAreaChart'].resetZoom();charts['barStackedChart'].resetZoom();">
                                    Reset zoom
                                </button>
                            </div>
                        </div>
                        <canvas id="stackedAreaChart"></canvas>
                    </div>
                    <div class="col-12 mt-3 shadow rounded-2 p-4">
                        <p class="h5 ">
                            Total CO2 emissions over time
                        </p>

                        <canvas id="stackedBarChart"></canvas>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    window.charts = {
        'stackedAreaChart' : null,
        'stackedBarChart' : null
    };

    window.emissions = {{ model_web.system_emissions|safe }}
    document.getElementById('resultModal').addEventListener('hidden.bs.modal', function () {
        document.getElementById('panel-result-btn').focus();
        document.getElementById('modal-container').innerHTML = '';
    });
</script>
