{% load static %}
<div class="row bg-white border border-top-2 border-light justify-content-between px-0 mx-0">
    <div class="col-auto p-2">
        <p class="lead m-0 ms-5 text-body-tertiary">
            My digital service
        </p>
    </div>
    <div class="col-auto p-2">
        <div class="row text-end me-4">
            <div class="col-auto">
                <button hx-get="{% url 'open-import-json-panel' %}"
                        hx-target="#sidePanel"
                        hx-swap="innerHTML"
                        hx-disabled-elt="button"
                        class="nav-link d-flex flex-row gap-2  mx-2 move-panel-open">
                    <img src="{% static "icons/tooltip/upload.svg" %}" width="24px" height="24px" alt="import_icon">
                </button>
            </div>
            <div class="col-auto">
                <a href="download-json/" target="_blank" class="nav-link d-flex flex-row gap-2  mx-2">
                    <img src="{% static "icons/tooltip/export.svg" %}" width="24px" height="24px" alt="export_icon">
                </a>
            </div>
            <div class="col-auto">
                <a href="reboot" class="nav-link d-flex flex-row gap-2 mx-2" id="btn-reboot-modeling">
                    <img src="{% static "icons/tooltip/reboot.svg" %}" width="24px" height="24px" alt="reboot_icon">
                </a>
            </div>
        </div>
    </div>
</div>
