// Accordeon button (expanded state)
.accordion-button.collapsed,
.accordion-button.collapsed:hover,
.accordion-button.collapsed:focus {
    background-color: #fff; // Fond blanc lorsque déployé
    color: #111928; // Texte noir
    border: none; // no border
    box-shadow: none;
    font-size: 0.8rem;
}

.accordion-button:not(.collapsed),
.accordion-button:not(.collapsed):active,
.accordion-button:not(.collapsed):focus {
    background-color: #fff; // Fond blanc lorsque déployé
    color: #111928; // Texte noir
    border: none; // no border
    box-shadow: none;
    font-size: 0.8rem;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #111928;
}

.form-label{
    color: #111928;
}

.vh-80 {
  height: 80vh !important;
}

/*Surcharge de la couleur light de bootstrap*/
.bg-light {
    background-color: #F4FAFB !important;
}

/*Surcharge de la couleur primrary de bootstrap et dfes boutons primary*/
.bg-primary {
    background-color: #2D4675 !important;
}

.btn-primary {
    background-color: #2D4675 !important;
    border-color: #2D4675 !important;
}
.input-group{
    border-color: #6B7280;
}

.input-group-text{
    background-color: #F9FAFB;
    color: #6B7280;
    border-color: #D1D5DB;
    font-size: 0.8rem;
}

.form-control{
    font-size: 0.8rem;
    color: #6B7280;
}

.form-text{
    font-size: 0.7rem;
    color: #6B7280;
}

.input_with_add_on{
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

input:disabled{
    background-color: #F9FAFB;
}

.btn-white:hover, .chevron-btn:hover{
    background-color: #F3F4F6;
}
