<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div class="accordion-item">
    <h2 class="accordion-header accordion-header-panel">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-attribute-link-to-other-objet" aria-expanded="true" aria-controls="collapse-attribute-link-to-other-objet">
            Modeling object Attributes
        </button>
    </h2>
    <div id="collapse-attribute-link-to-other-objet" class="accordion-collapse collapse show">
        <div class="accordion-body row">
            {% for attr in modeling_obj_attributes %}
            <div class="col-12 mb-3">
                <label for="{{ attr.attr_name }}" class="form-label w-100 text-start fz-0-8">Select a {{ attr.attr_name }}:</label>
                <select class="form-select light-select fz-0-8 h-30" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}">
                    {% for obj in attr.existing_objects %}
                         <option value="{{ obj.efootprint_id }}" {% if obj.efootprint_id == attr.selected_efootprint_id %}selected{% endif %}>{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

