<div class="modal usage-pattern-modal-time-series fade" id="usage-pattern-attributes-modal-timeseries" tabindex="-1" aria-labelledby="usage-pattern-attributes-modal-timeseries" aria-hidden="true" data-bs-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row form-header">
                    <div class="col-8 text-start">
                       <h5 id="formModalLabel" class="mt-4">
                            <b>Timeseries visualisation</b>
                        </h5>
                    </div>
                    <div class="col-4 text-start">
                        <h5 id="formModalLabel" class="mt-4">
                            <b>Define usage over time</b>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-body rounded-2 px-1">
                            <div class="accordion" id="accordionTimeSeries">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-time-series-chart" aria-expanded="true" aria-controls="collapse-time-series-chart">
                                            Time series attributes
                                        </button>
                                    </h2>
                                    <div id="collapse-time-series-chart" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <label for="display_granularity" class="form-label w-100 text-start fz-0-8">Time period</label>
                                                    <select class="form-select light-select fz-0-8 h-30"
                                                            id="display_granularity"
                                                            name="display_granularity"
                                                        _="on input createOrUpdateTimeSeriesChart()">
                                                        <option value="month" selected>Month</option>
                                                        <option value="year">Year</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-white border border-1 border-body-tertiary rounded-pill fz-0-8"
                                                            id="reset_zoom"
                                                        onclick="window.chart.resetZoom();">
                                                        Reset zoom
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="width: 100%;">
                                                <canvas id="timeSeriesChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-time-series-statistics" aria-expanded="true" aria-controls="collapse-time-series-statistics">
                                            Statistics
                                        </button>
                                    </h2>
                                    <div id="collapse-time-series-statistics" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="form-body rounded-2 px-1">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-help-build" aria-expanded="true" aria-controls="collapse-help-build">
                                            Help me build my time series
                                        </button>
                                    </h2>
                                    <div id="collapse-help-build" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="mb-3 mx-2">
                                                <label for="start_date" class="form-label w-100 text-start fz-0-8">Start date</label>
                                                <input type="date" class="form-control"
                                                       name="start_date"
                                                       value="{{ usage_pattern_input_values.start_date.value }}"
                                                       _="on load set #start_date's value to my value
                                                          on input set #start_date's value to my value
                                                          then updateUsageJourneyVolumeTimeseries()
                                                          then createOrUpdateTimeSeriesChart()"
                                                       >
                                            </div>
                                            <div class="mb-3 mx-2">
                                                <label for="modeling_duration_value" class="form-label w-100 text-start">TimeFrame</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control"
                                                           name="modeling_duration_value"
                                                           id="modal_modeling_duration_value"
                                                           value="{{ usage_pattern_input_values.modeling_duration_value.magnitude|floatformat }}"
                                                           max=10
                                                           _="on load set #modeling_duration_value's value to my value
                                                            on change applyMaxLimitOnModalModelingDurationValue()"
                                                           aria-describedby="basic-addon3 basic-addon4">
                                                    <select class="input-group-text"
                                                            name="modeling_duration_unit"
                                                            id="modal_modeling_duration_unit"
                                                            _="on load set #modeling_duration_unit's value to my value
                                                            on change set #modeling_duration_unit's value to my value
                                                            then if my value is 'year' then
                                                                if #modal_modeling_duration_value's value > 10
                                                                    set {max:10, value:10} on #modal_modeling_duration_value
                                                                    set #modeling_duration_value's value to 10
                                                                else
                                                                    set {max:10} on #modal_modeling_duration_value
                                                                end
                                                            else
                                                                set {max:120} on #modal_modeling_duration_value
                                                            end
                                                            then updateUsageJourneyVolumeTimeseries()
                                                            then createOrUpdateTimeSeriesChart()">
                                                        <option value="month" {% if usage_pattern_input_values.modeling_duration_unit.value == "month" %}selected{% endif %}>Months</option>
                                                        <option value="year" {% if usage_pattern_input_values.modeling_duration_unit.value == "year" %}selected{% endif %}>Years</option>
                                                    </select>
                                                </div>
                                                <div class="hidden text-danger fz-0-8" id="modeling_duration_value_error_message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-frequency-usage" aria-expanded="true" aria-controls="collapse-frequency-usage">
                                            Frequency of usage
                                        </button>
                                    </h2>
                                    <div id="collapse-frequency-usage" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                            <div class="row mb-3 align-items-end">
                                                <div class="col-6">
                                                    <label for="initial_usage_journey_volume" class="form-label w-100 text-start fz-0-8">Initial number of usage journeys</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control fz-0-8"
                                                               name="initial_usage_journey_volume"
                                                               value="{{ usage_pattern_input_values.initial_usage_journey_volume.magnitude|floatformat }}"
                                                               _="on load set #initial_usage_journey_volume's value to my value
                                                               on input set #initial_usage_journey_volume's value to my value
                                                               then updateUsageJourneyVolumeTimeseries()
                                                               then createOrUpdateTimeSeriesChart()"
                                                               aria-describedby="basic-addon3 basic-addon4"
                                                               >
                                                        <select class="input-group-text fz-0-8"
                                                                name="initial_usage_journey_volume_timespan"
                                                                _="on load set #initial_usage_journey_volume_timespan's value to my value
                                                            on change set #initial_usage_journey_volume_timespan's value to my value
                                                            then editFrequencyField()
                                                            then updateUsageJourneyVolumeTimeseries() then createOrUpdateTimeSeriesChart()"
                                                            >
                                                            <option value="month" {% if usage_pattern_input_values.initial_usage_journey_volume_timespan.value == "month" %}selected{% endif %}>Monthly</option>
                                                            <option value="year" {% if usage_pattern_input_values.initial_usage_journey_volume_timespan.value == "year" %}selected{% endif %}>Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="net_growth_rate_in_percentage" class="form-label w-100 text-start fz-0-8">Net growth rate (%)</label>
                                                    <div class="input-group">
                                                        <input type="number"
                                                               class="form-control fz-0-8"
                                                               name="net_growth_rate_in_percentage"
                                                               _="on load set #net_growth_rate_in_percentage's value to my value
                                                            on input set #net_growth_rate_in_percentage's value to my value
                                                            then updateUsageJourneyVolumeTimeseries()
                                                            then createOrUpdateTimeSeriesChart()"
                                                               value="{{ usage_pattern_input_values.net_growth_rate_in_percentage.magnitude|floatformat }}"
                                                               aria-describedby="basic-addon3 basic-addon4"
                                                               >
                                                        <select class="input-group-text fz-0-8"
                                                                name="net_growth_rate_timespan"
                                                                _="on load set #net_growth_rate_timespan's value to my value
                                                            on change set #net_growth_rate_timespan's value to my value
                                                            then updateUsageJourneyVolumeTimeseries()
                                                            then createOrUpdateTimeSeriesChart()">
                                                            <option value="month" {% if usage_pattern_input_values.net_growth_rate_timespan.value == "month" %}selected{% endif %}>Monthly</option>
                                                            <option value="year" {% if usage_pattern_input_values.net_growth_rate_timespan.value == "year" %}selected{% endif %}>Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer mt-5 px-3 d-grid gap-2">
                            <button type="button" class="btn btn-primary rounded-pill w-100" id="save_time_series_btn" data-bs-dismiss="modal" onclick="copyTimeSeriesValueAndDisplayIcon()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>document.getElementById('usage-pattern-attributes-modal-timeseries').addEventListener(
    'shown.bs.modal', function() {
        updateUsageJourneyVolumeTimeseries();
        createOrUpdateTimeSeriesChart();
    });
</script>
