{% extends "model_builder/side_panels/components/side_panel_structure.html" %}

{% block panel_body %}
    <form id="sidePanelForm" class="my-3"
        hx-post="/model_builder/add-new-usage-pattern/"
        hx-target="#up-list"
        hx-swap="beforeend"
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
    >
        <div class="mb-3">
            <label for="name"class="form-label w-100 text-start">Name</label>
            <input type="text"
                   class="form-control p-2"
                   id="name" name="name"
                   required
                   value="{{ obj_type }} {{ next_efootprint_object_rank }}">
        </div>
        <p class="my-2">
            Create a new usage pattern by defining its device mix, network mix, country mix, usage over time, and linking it to a usage journey.
        </p>
        <div class="accordion" id="accordionFormUsagePattern">
            {% include "model_builder/side_panels/usage_pattern/links_to_other_objects_form.html" %}
            {% include "model_builder/side_panels/usage_pattern/timeseries_form.html" %}
        </div>

        <div class="mb-3">
            <button
                    id="btn-submit-form"
                    class="btn btn-primary rounded-pill w-100"
                    type="submit">
                Save
            </button>
        </div>
    </form>
{% endblock %}
