<div class="text-end">
    <button type="button" class="btn btn-white" aria-label="Close"
            onclick="closePanel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708 .708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
    </button>
</div>
<div class="form-header p-1" id="panel-header">
    <h5 id="formModalLabel" class="mt-4">
        <b>Add a new {{ obj_type }}</b>
    </h5>
</div>
<div class="form-body p-1" id="panel-body">
    <div class="row text-start">
        <div class="col-12 mt-3 mb-5">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control p-2" id="name" name="name" value="New {{ obj_type }}" required>
        </div>
        <div class="col-12">
            <div class="accordion accordion-panel" id="accordionFormAdd">
                {%for item in structure_dict.items %}
                <div class="accordion-item {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" id="item-{{ item.category }}">
                    <h2 class="accordion-header {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}">
                        <button class="accordion-button fz-1 {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ item.category }}" aria-expanded="true" aria-controls="collapse_{{ item.category }}">
                            {{ item.header }}
                        </button>
                    </h2>
                    <div id="collapse_{{ item.category }}"
                         class="accordion-collapse show" data-bs-parent="accordionFormAdd">
                        <div class="accordion-body">
                            {% for field in item.fields %}
                                {% include "model_builder/side_panels/dynamic_form_field.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12">
            <p class="mt-4">
                You will be able to edit all attributes about the {{ obj_type }} later in the dedicated panel.
            </p>
        </div>
    </div>
</div>
<div class="form-footer p-1" id="panel-footer">
    <div class="row justify-content-between">
        <div class="col-12">
            <button type="submit" class="btn btn-primary rounded-pill w-100" id="save_{{ obj_type }}_btn">Save</button>
        </div>
    </div>
</div>
{{ dynamic_form_data|json_script:"dynamic-form-data" }}
