{% if helper_message %}
<p>{{ helper_message }}</p>
<hr>
{% endif %}
<div class="mt-3 mb-5">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control p-2" id="name" name="name" value="{{ obj_type }} {{ next_efootprint_object_rank }}" required>
</div>
<div class="mb-3">
    <div class="accordion accordion-panel" id="accordionFormAdd">
        {%for item in structure_dict.items %}
        <div class="accordion-item {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" id="item-{{ item.category }}">
            <h2 class="accordion-header {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}">
                <button class="accordion-button fz-1 {% if forloop.counter > 1 %}rounded-bottom-2{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ item.category }}_{{obj_type}}" aria-expanded="true" aria-controls="collapse_{{ item.category }}_{{obj_type}}">
                    {{ item.header }}
                </button>
            </h2>
            <div id="collapse_{{ item.category }}_{{obj_type}}"
                 class="accordion-collapse show" data-bs-parent="accordionFormAdd">
                <div class="accordion-body">
                    {% for field in item.fields %}
                        {% include "model_builder/side_panels/dynamic_form_field.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{{ dynamic_form_data|json_script:"dynamic-form-data" }}
