<div class="mb-3">
    {% if field.input_type == 'select' %}
        <label for="{{ field.id }}" class="form-label">{{ field.name }}</label>
        <select
            class="form-control p-2"
            id="{{ field.id }}"
            name="{{ field.id }}"
            required
        >
            {% for option in field.options %}
                <option value="{{ option.value }}" {% if option.label == field.selected %}selected{% endif %}>
                    {{ option.label }}</option>
            {% endfor %}
        </select>
    {% elif field.input_type == 'datalist' %}
        <label for="{{ field.id }}" class="form-label">{{ field.name }}</label>
        <input
                class="form-control p-2"
                list="list_{{ field.id }}"
                id="{{ field.id }}"
                name="{{ field.id }}"
                {% if field.selected %}value="{{ field.selected }}"{% endif %}
                required
        >
        <datalist id="list_{{ field.id }}">
            <option selected value="select a provider">
        </datalist>
    {% elif field.input_type == 'list' %}
        <ul class="list-group">
            {% for option in field.options %}
                <li class="list-group-item">{{ option }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="input-group">
            <label for="{{ field.id }}" class="form-label w-100">{{ field.name }}</label>
            <input type="number"
                class="form-control input_with_add_on"
                id="{{ field.id }}"
                name="{{ field.id }}"
                value="{{ field.default }}"
                   step="0.1"
                   placeholder="Enter value"
                   required
            >
            <span class="input-group-text" id="basic-addon2">
                {{ field.unit }}
            </span>
        </div>
    {% endif %}
</div>
