
<form class="container-fluid form_edit_panel text-start"
      hx-post="/model_builder/edit-object/{{ object_to_edit.efootprint_id }}/"
      hx-swap="none"
      script="on htmx:afterRequest closePanel()"
>

    <div class="text-end">
        <button type="button" class="btn btn-white" aria-label="Close"
                onclick="closePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
    <div class="form-header p-1" id="panel-header">
        <h5 id="formModalLabel" class="mt-4">
            <b>{{ object_to_edit.name }}</b>
        </h5>
    </div>
    <div class="form-body p-1" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                <label for="form_edit_name" class="form-label">Name</label>
                <input type="text" class="form-control p-2" id="form_edit_name" name="form_edit_name" value="{{ object_to_edit.name }}">
            </div>

            {% for attr in object_to_edit.explainable_quantities %}
                <div class="col-8 mb-3">
                    <div class="input-group">
                        <label for="form_edit_{{ attr.attr_name }}" class="form-label w-100">{{ attr.attr_name }}</label>
                        <input type="text"
                               class="form-control input_with_add_on"
                               id="form_edit_{{ attr.attr_name }}"
                               name="form_edit_{{ attr.attr_name }}"
                               value="{{ attr.attr_value.rounded_magnitude }}"
                               placeholder="Enter value">
                        <span class="input-group-text" id="basic-addon2">
                            {{ attr.attr_value.short_unit }}
                        </span>
                    </div>
                </div>
            {% endfor %}

            {% for attr in object_to_edit.mod_obj_attributes %}
                <div class="col-12 mb-3">
                    <label for="form_edit_{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                    <select class="form-control p-2" id="form_edit_{{ attr.attr_name }}" name="form_edit_{{ attr.attr_name }}">
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}" {% if attr.attr_value.efootprint_id == obj.efootprint_id %}selected{% endif %}>{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            {% for attr in object_to_edit.list_attributes %}
                <div class="col-12 mb-3">
                    <label for="form_edit_{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                    <select class="form-control p-2" id="form_edit_{{ attr.attr_name }}" name="form_edit_{{ attr.attr_name }}" multiple>
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}" {% for obj_selected in attr.attr_value %}{% if obj_selected.efootprint_id == obj.efootprint_id %}selected{% endif %}{% endfor %} >{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    <div class="form-footer p-1" id="panel-footer">
        <div class="row justify-content-between">
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-pill w-100">Save</button>
            </div>
        </div>
    </div>
</form>
