
<form class="container-fluid panel text-start"
      hx-post="/model_builder/edit-object/{{ object_to_edit.efootprint_id }}/"
      hx-swap="none"
      onsubmit="openLoader()"
      hx-on::after-request="closeLoader()"
>

    <div class="text-end">
        <button type="button" class="btn btn-white" aria-label="Close"
                onclick="closePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
    <div class="form-header p-1 border-bottom border-2 border-light bord" id="panel-header">
        <div class="row justify-content-start align-items-center py-2">
            <div class="col-auto">
                <h5 id="formModalLabel" class="m-0">
                    <b>{{ object_to_edit.name }}</b>
                </h5>
            </div>
            <div class="col-auto">
                <button class="btn border border-body-tertiary rounded-2" aria-label="Delete"
                        hx-get="/model_builder/ask-delete-object/{{ object_to_edit.efootprint_id }}"
                        hx-swap="innerHTML"
                        hx-target="#modal-container">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="form-body p-1" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control p-2" id="name" name="name" value="{{ object_to_edit.name }}">
            </div>

            {% for field in structure_dict.fields %}
                {% include "model_builder/side_panels/dynamic_form_field.html" %}
            {% endfor %}

            {% for attr in object_to_edit.mod_obj_attributes %}
                <div class="col-12 mb-3">
                    <label for="{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                    <select class="form-control p-2" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}">
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}" {% if attr.attr_value.efootprint_id == obj.efootprint_id %}selected{% endif %}>{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            {% for attr in object_to_edit.list_attributes %}
                <div class="col-12 mb-3">
                    <label for="{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                    <select class="form-control p-2" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}" multiple>
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}" {% for obj_selected in attr.attr_value %}{% if obj_selected.efootprint_id == obj.efootprint_id %}selected{% endif %}{% endfor %} >{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    <div class="form-footer p-1" id="panel-footer">
        <div class="row justify-content-between">
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-pill w-100">Save</button>
            </div>
        </div>
    </div>
{{ dynamic_form_data|json_script:"dynamic-form-data" }}
</form>
