<form class="container-fluid panel text-start p-4"
        hx-post="{% url 'upload-json' %}"
        hx-disabled-elt="button"
        enctype="multipart/form-data"
        hx-swap="innerHTML"
        hx-target="#main-content-block"
        onsubmit="removeAllLines();"
>
    {% csrf_token %}
    <div class="form-header" id="panel-header">
        <div class="w-100 text-end">
            <div class="row align-items-center">
                <div class="col-10 text-start">
                    <div class="row justify-content-start align-items-center py-2">
                        <div class="col-auto">
                            <h5 id="formModalLabel" class="m-0">
                                <b>Import a model </b>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-white" aria-label="Close" onclick="updatePanelClose()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-body p-1" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                <label for="import-json-input" class="form-label">Choose a json file</label>
                <input  class="form-control" id="import-json-input" name="import-json-input" type="file" required>
                {% if uploadError %}
                    <p id="importModalPanelError" class="text-center font-bold text-red-1">{{uploadError}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="form-footer p-1" id="panel-footer">
        <div class="row justify-content-between">
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-pill w-100">Use your model</button>
            </div>
        </div>
    </div>
</form>
