{% extends "model_builder/side_panels/components/side_panel_structure.html" %}
{% load static %}

{% block panel_body %}
<form class="my-3"
        hx-post="{% url 'upload-json' %}"
        hx-disabled-elt="button"
        enctype="multipart/form-data"
        hx-swap="innerHTML"
        hx-target="#main-content-block">
    {% csrf_token %}
    <div class="mb-3">
        <label for="import-json-input" class="form-label">Choose a json file</label>
        <input  class="form-control" id="import-json-input" name="import-json-input" type="file" required>
        {% if uploadError %}
            <p id="importModalPanelError" class="text-center font-bold text-red-1">{{uploadError}}</p>
        {% endif %}
    </div>

    <div class="mb-3">
            <button
                    id="btn-submit-form"
                    class="btn btn-primary rounded-pill w-100"
                    type="submit">
                Use your model
            </button>
        </div>
</form>
{% endblock %}
