{% extends "model_builder/side_panels/components/side_panel_structure.html" %}

{% block panel_body %}
    <form hx-post="/model_builder/add-new-service/{{ server_id }}"
            hx-target="#{{ server_id }}-services"
            hx-swap="beforeend"
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
            id="sidePanelForm"
    >
        {% include "model_builder/side_panels/dynamic_add_object_form_content.html" %}

        <div class="mb-3">
            <p class="mt-4">
                You will be able to edit all attributes about the {{ obj_type }} later in the dedicated panel.
            </p>
        </div>

        <div class="mb-3">
            <button
                    id="btn-submit-form"
                    class="btn btn-primary rounded-pill w-100"
                    type="submit">
                Save
            </button>
        </div>
    </form>
{% endblock %}
