{% load static %}
<form class="container-fluid panel text-start p-4"
        hx-post="/model_builder/add-new-server/"
        hx-target="#server-list"
        hx-swap="beforeend"
        hx-on::before-request="openLoader()"
        hx-on::after-request="movePanel('close');closeLoader()"
      hx-disabled-elt="button"
>
    {% with helper_message="How to choose the server type?<br><br>“GPUserver” to get help on configuring servers for AI use.<br><br>“BoavistaCloudServer” to get help on configuring servers for all other kinds of use.<br><br>“Server” to fully customize your server." %}
        {% include "model_builder/side_panels/dynamic_form_structure.html" %}
    {% endwith %}
</form>
