{% extends "model_builder/side_panels/components/side_panel_structure.html" %}

{% block form_body %}
    <form hx-post="/model_builder/add-new-server/"
            hx-target="#server-list"
            hx-swap="beforeend"
            hx-disabled-elt="button"
            hx-on::after-request="closeAndEmptySidePanel()"
    >
        {% with helper_message="How to choose the server type?<br><br>“GPUserver” to get help on configuring servers for AI use.<br><br>“BoavistaCloudServer” to get help on configuring servers for all other kinds of use.<br><br>“Server” to fully customize your server." %}
            {% include "model_builder/side_panels/dynamic_add_object_form_content.html" %}
        {% endwith %}
    </form>
{% endblock %}

