
<form class="panel p-4 text-start" id="form-add-usage-journey"
        hx-post="/model_builder/add-new-usage-journey/"
        {% if efootprint_id_of_parent_to_link_to %}
            hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ efootprint_id_of_parent_to_link_to }}"}'
            hx-target="#{{ efootprint_id_of_parent_to_link_to }}"
            hx-swap="outerHTML"
        {% else %}
            hx-target="#uj-list"
            hx-swap="beforeend"
        {% endif %}
        hx-on::before-request="openLoader()"
        hx-on::after-request="movePanel('close');closeLoader()"
      hx-disabled-elt="button"

>
    <div class="form-header" id="panel-header">
        <div class="w-100 text-end">
            <div class="row align-items-center">
                <div class="col-10 text-start">
                    <h5 id="formModalLabel" class="m-0">
                        <b>{{ header_name }}</b>
                    </h5>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-white" aria-label="Close"
                            onclick="closePanel()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-body" id="panel-body">
        <div class="row text-start">

            <div class="col-12 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control p-2" id="name" name="name" required
                placeholder="{{ new_object_name }}">
            </div>

            {% for attr in object_structure.numerical_attributes %}
                <div class="col-8 mb-3">
                    <div class="input-group">
                        <label for="{{ attr.attr_name }}" class="form-label w-100">{{ attr.attr_name }}</label>
                        <input type="text"
                               class="form-control input_with_add_on"
                               id="{{ attr.attr_name }}"
                               name="{{ attr.attr_name }}"
                               placeholder="Enter value" required>
                        <span class="input-group-text" id="basic-addon2">
                            {{ attr.attr_value.short_unit }}
                        </span>
                    </div>
                </div>
            {% endfor %}

            {% for attr in object_structure.list_attributes %}
                <div class="col-12 mb-3">
                    <label for="{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                    <select class="form-control p-2" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}" multiple>
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}">{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <hr>
            {% endfor %}
            <div class="col-12 mb-3">
                    <p>
                       If you want to reuse steps that already exist in other usage journeys, select them in uj_steps.
                    </p>
                </div>
        </div>
        <div class="modal-footer border border-0">
            <button type="submit" id="btn-submit-form-add-usage-journey" class="btn btn-primary rounded-pill w-100">Save</button>
        </div>
    </div>
</form>
