
<form class="panel p-4 text-start"
        hx-post="/model_builder/add-new-usage-journey-step/{{ efootprint_id_of_parent_to_link_to }}/"
        hx-swap="none"
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
>
    <div class="form-header" id="panel-header">
        <div class="w-100 text-end">
            <div class="row align-items-center">
                <div class="col-10 text-start">
                    <h5 id="formModalLabel" class="m-0">
                        <b>{{ header_name }}</b>
                    </h5>
                </div>
                <div class="col-2">
                    {% include "model_builder/side_panels/components/close_side_panel_cross.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-body" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control p-2" id="name" name="name" required>
            </div>
            {% for attr in object_structure.numerical_attributes %}
                <div class="col-8 mb-3">
                    <div class="input-group">
                        <label for="{{ attr.attr_name }}" class="form-label w-100">{{ attr.attr_name }}</label>
                        <input type="number"
                               class="form-control input_with_add_on"
                               id="{{ attr.attr_name }}"
                               name="{{ attr.attr_name }}"
                               placeholder="Enter value" required
                                step="0.1">
                        <span class="input-group-text" id="basic-addon2">
                            {{ attr.unit }}
                        </span>
                    </div>
                </div>
            {% endfor %}
            <hr>
        </div>
        <div class="modal-footer border border-0">
            <button type="submit" class="btn btn-primary rounded-pill w-100">Save</button>
        </div>
    </div>
</form>
