{% extends "model_builder/side_panels/components/side_panel_structure.html" %}

{% block panel_body %}
    <form id="sidePanelForm" class="my-3"
        hx-post="/model_builder/add-new-usage-journey/"
        {% if efootprint_id_of_parent_to_link_to %}
            hx-vals='{"efootprint_id_of_parent_to_link_to": "{{ efootprint_id_of_parent_to_link_to }}"}'
            hx-target="#{{ efootprint_id_of_parent_to_link_to }}"
            hx-swap="outerHTML"
        {% else %}
            hx-target="#uj-list"
            hx-swap="beforeend"
        {% endif %}
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
    >
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text"
                   class="form-control p-2"
                   id="name"
                   name="name"
                   required
                   value="{{ obj_type }} {{ next_efootprint_object_rank }}">
        </div>
        {% for attr in object_structure.list_attributes %}
            <div class="mb-3">
                <label for="{{ attr.attr_name }}" class="form-label">{{ attr.attr_name }}</label>
                <select class="form-control p-2" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}" multiple>
                    {% for obj in attr.existing_objects %}
                         <option value="{{ obj.efootprint_id }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
        {% endfor %}

        <div class="mb-3">
            <p>
               If you want to reuse steps that already exist in other usage journeys, select them in uj_steps.
            </p>
        </div>

        <div class="mb-3">
            <button
                    id="btn-submit-form"
                    class="btn btn-primary rounded-pill w-100"
                    type="submit">
                Save
            </button>
        </div>
    </form>
{% endblock %}
