<div class="accordion-body px-2">
    <div id="{{ variation }}_variation_bloc">
        <div class="row g-2 mb-2" id="{{ variation }}_variation_1">
        <div class="col-4">
            <label for="from_{{ variation }}_variation_1" class="form-label w-100 text-start fz-0-8">From</label>
            <select class="form-select light-select fz-0-8 h-30"
                    id="from_{{ variation }}_variation_1"
                    name="from_{{ variation }}_variation_1"
                onchange="variationController('{{ variation }}', true)">
                {% for dataVariation in dataVariations %}
                    <option value={{ dataVariation.value }} {% if forloop.counter == 0 %}selected {% endif %}>{{ dataVariation.label }}</option>
                {% endfor %}
            </select>
        </div>
         <div class="col-4">
            <label for="to_{{ variation }}_variation_1" class="form-label w-100 text-start fz-0-8">To</label>
            <select class="form-select light-select fz-0-8 h-30"
                    id="to_{{ variation }}_variation_1"
                    name="to_{{ variation }}_variation_1"
                    onchange="variationController('{{ variation }}', true)">
                {% for dataVariation in dataVariations %}
                    {% if forloop.counter > 1 %}
                        <option value={{ dataVariation.value }} {% if forloop.counter == 1 %}selected {% endif %}>{{ dataVariation.label }}</option>
                    {% endif %}
                {% endfor %}
                {% with dataVariation=dataVariations.0 maxValue=dataVariations|length %}
                    <option value={{ maxValue }}>{{ dataVariation.label }}</option>
                {% endwith %}
            </select>
        </div>
        <div class="col-4">
            <label for="multiplier_{{ variation }}_variation_1" class="form-label w-100 text-start">Multiplier</label>
            <div class="input-group h-30">
                <span class="input-group-text h-30" id="basic-addon1">x</span>
                <input type="number"
                       class="form-control fz-0-8 py-0 h-30"
                       id="multiplier_{{ variation }}_variation_1"
                       name="multiplier_{{ variation }}_variation_1" value="1"
                       aria-describedby="basic-addon1"
                       oninput="variationChart('{{ variation }}', true)">
            </div>
        </div>
    </div>
    </div>
    <div class="d-grid gap-2 mt-3">
        <button class="btn btn-white border border-1 border-body-tertiary rounded-pill fz-0-8"
                id="add_{{ variation }}_slot"
            script="on click addTimeSlot('{{ variation }}')">
        Add a time slot
        </button>
    </div>
    <div class="mt-3" style="width: 100%;">
        <canvas id="{{ variation }}VariationChart" height="75"></canvas>
    </div>
</div>
