{% for step in uj_steps %}
<input type="text" class="hidden" value="{{step.name}}" name="{{forloop.counter}}"/>
<div class="flex items-center px-14 gap-2 flex-wrap" id="{{step.name}}">
    <p><span class="font-bold text-xl pr-2">Step {{ forloop.counter }}</span>When they <span class="px-1 w-auto text-xl font-bold">{{step.name}}</span></p>
    <p>a request is made to a service of the following type </p>
    <select class="rounded-md border-grey-4 border-[1px] border-solid" name="{{forloop.counter}}" required>
          <option value disabled selected>Select an option</option>
          <option value="web-app">Web Application</option>
          <option value="streaming">Streaming</option>
          <option value="gen-ai">Gen AI</option>
      </select>
</div>
{% endfor %}

