<div class="row align-items-center mb-3 row-form-line" id="div-{{ number }}" index="{{ number }}">
    <div class="col-1">
        <p class="h6 pt-2"><b>Step {{ number }}</b></p>
    </div>
    <div class="col-auto">
        <label for="step-desc-{{ number }}" class="col-form-label">And then they</label>
    </div>
    <div class="col-3">
        <input type="email" class="form-control rounded-2 border-1 border-secondary-subtle" id="step-desc-{{ number }}" name="step-desc-{{ number }}">
    </div>
    <div class="col-auto">
        <label for="step-duration-{{ number }}" class="col-form-label">for</label>
    </div>
    <div class="col-1 gx-0">
        <input type="number" min="0" class="form-control rounded-2 border-1 border-secondary-subtle" id="step-duration-{{ number }}" name="step-duration-{{ number }}">
    </div>
    <div class="col-auto">
        <p class="col-form-label">mins</p>
    </div>
    <div class="col-auto">
        <button class="btn border-2 border-black rounded-circle py-2" script="on click remove #div-{{number}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
            </svg>
        </button>
    </div>
</div>
