<div class="flex gap-2 items-center" id="div-{{number}}">
  <label><span class="font-bold mr-4">Step {{number}}</span>And then they <input name="{{number}}" type="text" class="rounded-md border-grey-4 border-[1px] border-solid" /></label>
    <label>for <input name="{{number}}" class="rounded-md border-grey-4 border-[1px] border-solid w-24" type="number" min="0" /> mins </label>
  <button class="ml-4 w-10 h-10 border-2 rounded-full flex items-center justify-center border-black border-solid font-bold text-xl" script="on click remove #div-{{number}}">-</button>
</div>
