<div id="add-service-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content bg-grey-14">
      <div class="modal-header">
        <h5 class="modal-title">Add Service</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body space-y-3">
        <form hx-post="/analyze/add-service" hx-select="#objects-list" hx-target="#objects-list" hx-trigger="click from:#add-service-button">
          <input class="w-full" type="text" name="service-name" value="New service" />

          <div class="flex flex-row"><span>RAM consumption</span><img class="w-6 h-6" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="RAM" src="/static/icons/info-tooltip.svg" alt="tooltip" /></div>
          <div class="flex flex-row"><input type="number" name="ram-consumption" step="0.01" value="0" /><span>GB</span></div>

          <div class="flex flex-row"><span>CPU consumption</span><img class="w-6 h-6" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CPU" src="/static/icons/info-tooltip.svg" alt="tooltip" /></div>
          <div class="flex flex-row"><input type="number" name="cpu-consumption" value="0" /><span>core(s)</span></div>

          <div class="flex flex-row"><span>Configuration</span><img class="w-6 h-6" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Configuration" src="/static/icons/info-tooltip.svg" alt="tooltip" /></div>
          <select>
            <option value="1">Autoscalling</option>
            <option value="2">?</option>
          </select>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="add-service-button" type="button" data-bs-dismiss="modal" class="btn btn-primary">Add service</button>
      </div>
    </div>
  </div>
</div>
