{% load static %}
<div id="modal-container" hx-swap-oob="true">
    <div id="model-builder-modal"
    class="modal fade"
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="model-builder-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            <div class="modal-body text-center px-5">
                <img src="{% static 'icons/warning.svg' %}" class="mb-4" width="50px" height="50px" alt="error icon" />
                <p class="lead" id="exception-msg">
                    {{ msg }}
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" id="btn-go-back-modal" class="btn btn-primary rounded-pill px-4 py-3 mb-3" data-bs-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>
