<div class="modal usage-pattern-modal-time-series fade" id="usage-pattern-attributes-modal-timeseries" tabindex="-1" aria-labelledby="usage-pattern-attributes-modal-timeseries" aria-hidden="true" data-bs-backdrop="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row form-header">
                    <div class="col-8 text-start">
                       <h5 id="formModalLabel" class="mt-4">
                            <b>Timeseries visualisation</b>
                        </h5>
                    </div>
                    <div class="col-4 text-start">
                        <h5 id="formModalLabel" class="mt-4">
                            <b>Define usage over time</b>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="form-body rounded-2 px-1">
                            <div class="accordion" id="accordionTimeSeries">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-time-series-chart" aria-expanded="true" aria-controls="collapse-time-series-chart">
                                            Time series attributes
                                        </button>
                                    </h2>
                                    <div id="collapse-time-series-chart" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="row mb-3">
                                                <div class="col-auto">
                                                    <label for="timeseries_period_analysis" class="form-label w-100 text-start fz-0-8">Time period</label>
                                                    <select class="form-select light-select fz-0-8 h-30"
                                                            id="timeseries_period_analysis"
                                                            name="timeseries_period_analysis"
                                                        onchange="updateTimeseriesChart()">
                                                    >
                                                        <option value="day">Day</option>
                                                        <option value="week">Week</option>
                                                        <option value="month" selected>Month</option>
                                                        <option value="year">Year</option>
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <label for="timeseries_kpi_analysis" class="form-label w-100 text-start fz-0-8">Calculation</label>
                                                    <select class="form-select light-select fz-0-8 h-30"
                                                            id="timeseries_kpi_analysis"
                                                            name="timeseries_kpi_analysis"
                                                        onchange="updateTimeseriesChart()">
                                                    >
                                                        <option value="avg">Hourly average</option>
                                                        <option value="sum" selected>Sum by period</option>
                                                        <option value="cumsum">Cumulative sum</option>

                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <button class="btn btn-white border border-1 border-body-tertiary rounded-pill fz-0-8"
                                                            id="reset_zoom"
                                                        onclick="charts['timeSeriesChart'].resetZoom();">
                                                        Reset zoom
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="width: 100%;">
                                                <canvas id="timeSeriesChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-time-series-statistics" aria-expanded="true" aria-controls="collapse-time-series-statistics">
                                            Statistics
                                        </button>
                                    </h2>
                                    <div id="collapse-time-series-statistics" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-0">
                        <div class="form-body rounded-2 px-1">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-help-build" aria-expanded="true" aria-controls="collapse-help-build">
                                            Help me build my time series
                                        </button>
                                    </h2>
                                    <div id="collapse-help-build" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <div class="mb-3 mx-2">
                                                <label for="timeframe_start_date" class="form-label w-100 text-start fz-0-8">Start date</label>
                                                <input type="date" class="form-control" id="timeframe_start_date" name="timeframe_start_date" value="2025-01-01" onchange="frequencyChart(true)">
                                            </div>
                                            <div class="mb-3 mx-2">
                                                <label for="timeframe_value" class="form-label w-100 text-start">TimeFrame</label>
                                                <div class="input-group">
                                                    <input type="number" class="form-control" id="timeframe_value" name="timeframe_value" aria-describedby="basic-addon3 basic-addon4" value="1" onchange="frequencyChart(true)">
                                                    <select class="input-group-text" id="timeframe_range"  onchange="frequencyChart(true)">
                                                        <option value="day">Days</option>
                                                        <option value="week">Weeks</option>
                                                        <option value="month">Months</option>
                                                        <option value="year" selected>Years</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-frequency-usage" aria-expanded="true" aria-controls="collapse-frequency-usage">
                                            Frequency of usage
                                        </button>
                                    </h2>
                                    <div id="collapse-frequency-usage" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                            <div class="row mb-3 align-items-end">
                                                <div class="col-6">
                                                    <label for="avg_nb_usage_journey_value" class="form-label w-100 text-start fz-0-8">Initial number of usage journeys</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control fz-0-8"
                                                               id="avg_nb_usage_journey_value"
                                                               name="avg_nb_usage_journey_value"
                                                               aria-describedby="basic-addon3 basic-addon4"
                                                               value=10000
                                                               oninput="frequencyChart(true)">
                                                        <select class="input-group-text fz-0-8"
                                                                id="avg_nb_usage_journey_range"
                                                                name="avg_nb_usage_journey_range"
                                                                onchange="editFrequencyField(true)">
                                                            <option value="day">Daily</option>
                                                            <option value="week">Weekly</option>
                                                            <option value="month" selected>Monthly</option>
                                                            <option value="year">Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="net_growth_rate_value" class="form-label w-100 text-start fz-0-8">Net growth rate (%)</label>
                                                    <div class="input-group">
                                                        <input type="number"
                                                               class="form-control fz-0-8"
                                                               id="net_growth_rate_value"
                                                               name="net_growth_rate_value"
                                                               aria-describedby="basic-addon3 basic-addon4"
                                                               value=10
                                                               oninput="frequencyChart(true)">
                                                        <select class="input-group-text fz-0-8" id="net_growth_rate_range"
                                                                onchange="frequencyChart(true)">
                                                            <option value="day">Daily</option>
                                                            <option value="week">Weekly</option>
                                                            <option value="month" selected>Monthly</option>
                                                            <option value="year">Yearly</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div style="width: 100%;">
                                                    <canvas id="frequencyChart" height="75"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-daily-variation" aria-expanded="true" aria-controls="collapse-daily-variation">
                                            Daily variations
                                        </button>
                                    </h2>
                                    <div id="collapse-daily-variation" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                            {% with variation="daily" dataVariations=dataDailyVariations %}
                                                {% include 'model_builder/side_panels/variation_bloc.html' %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-weekly-variation" aria-expanded="true" aria-controls="collapse-weekly-variation">
                                            Weekly variations
                                        </button>
                                    </h2>
                                    <div id="collapse-weekly-variation" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                            {% with variation="weekly" dataVariations=dataWeeklyVariations %}
                                                {% include 'model_builder/side_panels/variation_bloc.html' %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-seasonal-variation" aria-expanded="true" aria-controls="collapse-seasonal-variation">
                                            Seasonal variations
                                        </button>
                                    </h2>
                                    <div id="collapse-seasonal-variation" class="accordion-collapse collapse show">
                                        <div class="accordion-body px-2">
                                            {% with variation="seasonal" dataVariations=dataSeasonalVariations %}
                                                {% include 'model_builder/side_panels/variation_bloc.html' %}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer mt-5 px-3 d-grid gap-2">
                            <button type="button" class="btn btn-primary rounded-pill w-100" id="save_time_series_btn" data-bs-dismiss="modal" onclick="checkAttributes('timeseries')">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
