{% load static %}
<form class="container-fluid panel text-start"
        hx-post="{{ htmxPost }}"
        hx-target="#up-list"
        hx-swap="beforeend"
        hx-disabled-elt="button"
        hx-on::after-request="closeAndEmptySidePanel()"
>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <input type="hidden" name="start_date" id="start_date" value="">
    <input type="hidden" name="modeling_duration_value" id="modeling_duration_value" value="">
    <input type="hidden" name="modeling_duration_unit" id="modeling_duration_unit" value="">
    <input type="hidden" name="net_growth_rate_in_percentage" id="net_growth_rate_in_percentage" value="">
    <input type="hidden" name="net_growth_rate_timespan" id="net_growth_rate_timespan" value="">
    <input type="hidden" name="initial_usage_journey_volume" id="initial_usage_journey_volume" value="">
    <input type="hidden" name="initial_usage_journey_volume_timespan" id="initial_usage_journey_volume_timespan" value="">

    <div class="text-end">
        <button type="button" class="btn btn-white" aria-label="Close"
                onclick="closePanel()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708 .708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
        </button>
    </div>
    <div class="form-header p-1" id="panel-header">
        <h5 id="formModalLabel" class="mt-4">
            <b>{{ title }}</b>
        </h5>
    </div>
    <div class="form-body p-1" id="panel-body">
        <div class="row text-start">
            <div class="col-12 mt-3 mb-5">
                <label for="name" class="form-label w-100 text-start">Name</label>
                <input type="text" class="form-control p-2" id="name" name="name"
                       {% if usage_pattern_input_values.name %}
                            value="{{ usage_pattern_input_values.name }}"
                       {% else %}
                            placeholder="New usage pattern"
                       {% endif %}
                       required>
            </div>
            <div class="col-12">
                <p class="mt-4">
                    Create a new usage pattern by defining its device mix, network mix, country mix, usage over time, and linking it to a usage journey.
                </p>
            </div>
            {% for attr in modeling_obj_attributes %}
                <div class="col-12 mb-3">
                    <label for="{{ attr.attr_name }}" class="form-label w-100 text-start fz-0-8">{{ attr.attr_name }}</label>
                    <select class="form-select light-select fz-0-8 h-30" id="{{ attr.attr_name }}" name="{{ attr.attr_name }}">
                        {% for obj in attr.existing_objects %}
                             <option value="{{ obj.efootprint_id }}" {% if attr.attr_value.efootprint_id == attr.selected_efootprint_id %}selected{% endif %}>{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
            <div class="col-12 mb-3">
                <button type="button" id="add-time-series-btn" class="btn rounded-pill bg-white border border-1 border-body-tertiary rounded-pill px-4 fz-0-9" data-bs-toggle="modal" data-bs-target="#usage-pattern-attributes-modal-timeseries">
                        Add time series
                </button>
            </div>
        </div>
    </div>
    <div class="form-footer p-1" id="panel-footer">
        <div class="row justify-content-between">
            <div class="col-12">
                <button type="submit" class="btn btn-primary rounded-pill w-100" id="save_usage_pattern_btn">Save</button>
            </div>
        </div>
    </div>
</form>

{% include 'model_builder/side_panels/usage_pattern_add/timeseries_modal.html' %}
